.u-h1 {
  font-size: rem($h1-font-size);
}

.u-h2 {
  font-size: rem($h2-font-size);
}

.u-h3 {
  font-size: rem($h3-font-size);
}

.u-h4 {
  font-size: rem($h4-font-size);
}

.u-h5 {
  font-size: rem($h5-font-size);
}

.u-h6 {
  font-size: rem($h6-font-size);
}