// Paddings
.u-p {
  &-0 {
    padding: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      padding: #{$i}em !important;
    }
  }
}

.u-py {
  &-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      padding-bottom: #{$i}em !important;
      padding-top: #{$i}em !important;
    }
  }
}

.u-px {
  &-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      padding-right: #{$i}em !important;
      padding-left: #{$i}em !important;
    }
  }
}

.u-pt {
  &-0 {
    padding-top: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      padding-top: #{$i}em !important;
    }
  }
}

.u-pb {
  &-0 {
    padding-bottom: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      padding-bottom: #{$i}em !important;
    }
  }
}

.u-pl {
  &-0 {
    padding-left: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      padding-left: #{$i}em !important;
    }
  }
}

.u-pr {
  &-0 {
    padding-right: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      padding-right: #{$i}em !important;
    }
  }
}

// Margins
.u-m {
  &-0 {
    margin: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      margin: #{$i}em !important;
    }
  }
}

.u-my {
  &-0 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      margin-bottom: #{$i}em !important;
      margin-top: #{$i}em !important;
    }
  }
}

.u-mx {
  &-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      margin-right: #{$i}em !important;
      margin-left: #{$i}em !important;
    }
  }
}

.u-mt {
  &-0 {
    margin-top: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      margin-top: #{$i}em !important;
    }
  }
}

.u-mb {
  &-1n {
    margin-bottom: -1px !important;
  }

  &-0 {
    margin-bottom: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      margin-bottom: #{$i}em !important;
    }
  }
}

.u-ml {
  &-0 {
    margin-left: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      margin-left: #{$i}em !important;
    }
  }
}

.u-mr {
  &-0 {
    margin-right: 0 !important;
  }

  @for $i from 1 through 5 {
    &-#{$i} {
      margin-right: #{$i}em !important;
    }
  }
}
