.u-text {
  &--muted {
    color: $gray-500;
  }

  &--danger {
    font-size: rem(14px);
    text-align: center;
    color: $danger;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--uppercase {
    font-family: 'BOG 2017 Headline', sans-serif;
    text-transform: uppercase;
  }
}