<template>
	<div class="item" :class="type">
		<img :src="item.poster" :alt="item.title" width="150" height="106">

		<div class="item-status" v-if="type === 'history'">
			<h3 class="status-title">სტატუსი</h3>
			<h5 class="status-value warning">გზაშია</h5>
		</div>

		<div class="item-info">
			<h2 class="item-title"><a :href="`/product/${item.slug}`" v-text="item.title"></a></h2>
			<h5 class="item-price">{{ item.price.toFixed(2) }} ₾</h5>
		</div>

		<div class="item-controls">
			<div class="item-quantity" v-if="type === 'product'">
				<button class="quantity-action" @click="sub()"><i class="icon icon-minus"></i></button>
				<div class="quantity-value" v-text="quantity"></div>
				<button class="quantity-action" @click="sum()"><i class="icon icon-plus"></i></button>
			</div>

			<button class="item-btn" @click="$emit('remove', item)"><i class="icon icon-trash"></i></button>
		</div>
	</div>
</template>

<script>
    export default {
        props: {
            item: {
                type: Object,
                required: true
            },
	        type: {
                type: String,
		        default: 'product'
	        }
        },
        data() {
            return {
                quantity: 1
            }
        },
        methods: {
            sub() {
                if (this.quantity === 1) return;

                this.quantity--;
                this.$emit('update', {
                    id: this.item.id,
                    quantity: this.quantity
                });
            },

            sum() {
                if (this.quantity === this.item.maxQuantity) return;

                this.quantity++;
                this.$emit('update', {
                    id: this.item.id,
                    quantity: this.quantity
                });
            }
        }
    }
</script>

<style scoped lang="scss">
	@import '../../sass/settings/colors';
	@import '../../sass/tools/helpers';

	.item {
		border-top: 1px solid #f1f1f1;
		padding: rem(25px) 0;
		align-items: center;
		display: flex;

		&-info {
			margin-left: rem(35px);
		}

		&-status {
			margin-left: rem(35px);
			width: rem(100px);

			.status-title {
				font-size: rem(14px);
				font-weight: 300;
				color: #000;
			}

			.status-value {
				font-size: rem(14px);
				font-weight: bold;
				color: $success;

				&.warning {
					color: $primary;
				}

				&.danger {
					color: $danger;
				}
			}
		}

		&-title {
			a {
				font-size: rem(19px);
				font-weight: 300;
				color: #000;

				&:hover {
					text-decoration: none;
					color: $primary;
				}
			}
		}

		&.history .item-title {
			a {
				font-size: rem(14px);
			}
		}

		&-price {
			font-size: rem(14px);
			font-weight: bold;
			color: $primary;
		}

		&-controls {
			align-items: center;
			margin-left: auto;
			display: flex;
		}

		&-quantity {
			display: flex;

			.quantity-action {
				padding: rem(10px) rem(15px);
				background: none;
				cursor: pointer;
				border: 0 none;

				&:hover {
					opacity: 0.75;
				}
			}

			.quantity-value {
				border-right: 1px solid #edece8;
				border-left: 1px solid #edece8;
				line-height: rem(32px);
				align-self: center;
				text-align: center;
				width: rem(40px);
				color: #7d7d7d;
			}
		}

		&-btn {
			margin-left: rem(10px);
			background: none;
			cursor: pointer;
			border: 0 none;

			&:hover {
				opacity: 0.75;
			}
		}
	}
</style>