<template>
	<header class="header">
		<nav>
			<ul class="header-nav">
				<li class="header-item" :class="{ active: active === 'list' }">
					<a href="#" @click.prevent="$emit('select', 'list')">ჩემი კალათა</a>
				</li>

				<li class="header-item" :class="{ active: active === 'history' }">
					<a href="#" @click.prevent="$emit('select', 'history')">შეკვეთების ისტორია</a>
				</li>
			</ul>
		</nav>

		<button @click="$emit('reset')" class="header-btn">ყველას წაშლა <i class="icon icon-trash"></i></button>
	</header>
</template>

<script>
    export default {
        props: {
            active: {
                type: String,
	            default: 'list'
            }
        }
    }
</script>

<style scoped lang="scss">
	@import '../../sass/settings/colors';
	@import '../../sass/tools/helpers';

	.header {
		justify-content: space-between;
		padding: rem(33px) 0;
		display: flex;

		&-nav {
			list-style-type: none;
			display: flex;
			padding: 0;
			margin: 0;
		}

		&-item {
			margin-right: rem(18px);

			a {
				font-family: 'BOG 2017 Headline', sans-serif;
				transition: border-color 300ms ease;
				padding: rem(18px) rem(15px);
				border: 2px solid #f1f1f1;
				border-radius: rem(10px);
				font-size: rem(12px);
				font-weight: 600;
				color: #a3a3a3;

				&:hover {
					text-decoration: none;
					border-color: #a3a3a3;
				}
			}

			&.active {
				a {
					border-color: $primary;
					color: $primary;
				}
			}
		}

		&-btn {
			background-color: transparent;
			font-size: rem(12px);
			font-weight: 600;
			cursor: pointer;
			border: 0 none;
			color: #999;

			&:hover {
				color: $primary;
			}

			.icon {
				margin-left: rem(10px);
			}
		}
	}
</style>