<template>
	<div class="details">
		<h2 class="details-title">არჩეული პროდუქტები</h2>

		<ul class="details-list">
			<li class="details-item" v-for="item in items">
				<span v-text="item.title"></span>
				<span class="details-price">{{ item.fullPrice.toFixed(2) }} ₾</span>
			</li>
		</ul>

		<h2 class="details-title">თქვენი მისამართი</h2>

		<ul class="details-addresses">
			<li class="details-address">
				<label for="address_1" class="c-checkbox">
					<input type="checkbox" name="address" id="address_1" value="1">

					<span>
						<strong>ქუთაისი</strong>
						<em>რუსთაველის 15</em>
					</span>
				</label>
			</li>
		</ul>

		<a href="#" class="details-add"><i class="icon icon-plus-o"></i> მისამართის დამატება</a>

		<div class="details-footer">
			<button class="o-button c-button c-button--filled c-button--primary">გადახდა <strong>({{ fullPrice }}₾)</strong></button>
		</div>
	</div>
</template>

<script>
    export default {
        props: {
            items: {
                type: Array,
                default: []
            }
        },

	    computed: {
            fullPrice() {
                return this.items.reduce((prev, curr) => prev + curr.fullPrice, 0).toFixed(2);
            }
	    }
    }
</script>

<style scoped lang="scss">
	@import '../../sass/settings/colors';
	@import '../../sass/tools/helpers';

	.details {
		background-color: #f4f5f7;
		border-radius: 2px;
		padding: rem(35px);

		&-title {
			font-family: 'BOG 2017 Headline', sans-serif;
			margin-bottom: rem(15px);
			font-size: rem(14px);
			font-weight: 600;
			color: #999;
		}

		&-list {
			list-style-type: none;
			margin: 0 0 rem(35px);
			padding: 0;
		}

		&-item {
			justify-content: space-between;
			line-height: rem(28px);
			font-size: rem(13px);
			font-weight: 300;
			display: flex;
			color: #000;
		}

		&-price {
			font-weight: normal;
		}

		&-addresses {
			padding: rem(20px) rem(25px);
			border-radius: rem(20px);
			background-color: #fff;
			list-style-type: none;
			margin: 0;
		}

		&-address {
			font-size: rem(13px);
			color: #000;

			&:not(:first-child) {
				margin-top: rem(15px);
			}

			label {
				margin-bottom: 0;
				cursor: pointer;
			}

			span {
				margin-left: rem(15px);
			}

			strong {
				display: block;
				font-weight: 600;
			}

			em {
				font-style: normal;
			}
		}

		&-add {
			margin: rem(15px) 0 rem(15px) rem(25px);
			display: inline-block;
			font-size: rem(12px);
			font-weight: 600;
			color: $primary;
			line-height: 1;

			.icon {
				position: relative;
				top: -1px;
			}
		}

		&-footer {
			margin-top: rem(25px);
			text-align: center;

			button {
				font-family: 'BOG 2017 Headline', sans-serif;
				font-weight: 600;

				strong {
					font-weight: bold;
				}
			}
		}
	}
</style>