<template>
	<div class="cart-list">
		<cart-item
			v-for="item in items"
			:key="item.id"
			:item="item"
			type="product"
			@update="$emit('update', $event)"
			@remove="$emit('remove', $event)"
		></cart-item>
	</div>
</template>

<script>
    export default {
        props: {
            items: {
                type: Array,
                default: []
            }
        }
    }
</script>
