<template>
	<div class="c-section__container c-featured">
		<div :class="{ 'o-wrapper': wrap }">
			<a :href="`/category/${item.slug}`" class="c-featured__item" v-for="item in data">
				<img :src="item.image_path" :alt="item.name">
			</a>
			<!-- /.c-featured__item -->
		</div>
		<!-- /.o-wrapper -->
	</div>
</template>

<script>
    export default {
        props: {
            data: {
                type: Array,
                required: true
            },
            wrap: {
                type: Boolean,
                default: false
            }
        }
    }
</script>

<style lang="scss" scoped>
	.c-section__container {
		align-items: center;
		min-height: 220px;
		display: flex;

		& > *:first-child {
			flex-direction: column;
			align-items: center;
			display: flex;

			@media (min-width: 768px) {
				justify-content: space-between;
				flex-direction: row;
			}
		}
	}

	.c-featured {
		&__item {
			transition: opacity 200ms ease;
			max-width: 330px;
			margin: 0.5em;

			@media (min-width: 768px) {
				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}

			&:hover {
				opacity: 0.8;
			}

			img {
				background-color: #f0f0f0;
				border-radius: 2px;
				min-height: 225px;
				min-width: 335px;
				width: 100%;
			}
		}
	}
</style>