<template>
	<div>
		<ul class="c-filter__list">
			<li class="c-filter__item" :class="{ 'is-active': isActive(slug) }" v-for="(name, slug) in data">
				<a href="#" @click.prevent="handleFilter(slug)" class="c-filter__link">
					<i class="icon" :class="[ isActive(slug) ? 'icon-checkbox-checked' : 'icon-checkbox' ]"></i>
					<span>{{ name }}</span>
				</a>
			</li>
		</ul>

		<div v-if="param === 'prices'">
			<div class="c-filter__prices">
				<input type="number" v-model="price.from" min="0" step="10" placeholder="დან">
				<input type="number" v-model="price.to" min="0" step="10" placeholder="მდე">
				<button @click.prevent="setPrice">
					<i class="c-icon c-icon--search"></i>
				</button>
			</div>
		</div>
	</div>
</template>

<script>
    export default {
        props: ['data', 'param'],
        data() {
            return {
                price: {
                    from: null,
                    to: null
                },
                active: []
            }
        },
        methods: {
            isActive(slug) {
                return _.includes(this.active, slug);
            },

            handleFilter(slug) {
                const fn = this.isActive(slug) ? 'without' : 'concat';

                if (this.param === 'prices') {
                    this.price = { from: null, to: null };
                }

                this.active = _[fn](this.active, slug);

                this.$emit('filter-changed', this.active);
            },

            setPrice() {
                this.active = [];

                this.$emit('filter-changed', [`${this.price.from}-${this.price.to}`]);
            }
        }
    }
</script>

<style lang="scss">
	@import '../../sass/settings/colors';
	@import '../../sass/tools/helpers';

	.c-filter__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.c-filter__item {
		line-height: 40px;

		&.is-active {
			.c-filter__link {
				color: #3e3e3e;
			}
		}
	}

	.c-filter__link {
		font-size: 13px;
		color: #999;

		.icon-checkbox-checked + span {
			margin-left: 13px;
		}

		span {
			vertical-align: middle;
			display: inline-block;
			margin-left: 15px;
			line-height: 1;
		}

		&:hover {
			text-decoration: none;
			color: #3e3e3e;
		}
	}

	.c-filter__prices {
		justify-content: space-between;
		margin-top: rem(15px);
		display: flex;

		input {
			border: 1px solid #f4f5f7;
			font-size: rem(13px);
			padding: 0 rem(6px);
			border-radius: 3px;
			height: rem(39px);
			font-weight: 600;
			width: rem(69px);
			color: #999;
		}

		button {
			background-color: $primary;
			border-radius: 3px;
			height: rem(38px);
			width: rem(39px);
			cursor: pointer;
			border: 0 none;
			color: #fff;

			&:hover {
				background-color: lighten($primary, 10%);
			}
		}
	}
</style>