<template>
	<div class="c-filters">
		<div class="c-filter">
			<h2 class="c-filter__title">კატეგორიები</h2>

			<filter-list :data="categories" :active="filters.categories" param="categories" @filter-changed="onFilterChange($event, 'categories')"/>
		</div>
		<!-- /.c-filter -->

		<div class="c-filter">
			<h2 class="c-filter__title">ფასები</h2>

			<filter-list :data="prices" :active="filters.prices" param="prices" @filter-changed="onFilterChange($event, 'prices')"/>
		</div>
		<!-- /.c-filter -->

		<div class="c-filter">
			<h2 class="c-filter__title">პარტნიორი ბრენდები</h2>

			<filter-list :data="brands" :active="filters.brands" param="brands" @filter-changed="onFilterChange($event, 'brands')"/>
		</div>
		<!-- /.c-filter -->

		<div class="c-filter">
			<h2 class="c-filter__title">აირჩიე რეიტინგი</h2>

			<rating :rating="rating" @rating-changed="onRatingChange"/>
		</div>
		<!-- /.c-filter -->
	</div>
	<!-- /.c-filters -->
</template>

<script>
    import FilterList from './FilterList';

    export default {
        components: {FilterList},
        props: ['categories', 'brands', 'rating'],
        data() {
            return {
                filters: {
                    categories: [],
                    brands: [],
	                prices: [],
                    rating: null
                },
                prices: {
                    '100-500': '100-500',
                    '500-1500': '500-1500',
                    '1500-2500': '1500-2500',
                    '2500-3500': '2500-3500',
                }
            }
        },
        methods: {
            onFilterChange(filters, type) {
                this.filters[type] = filters;

                this.$emit('filter-changed', this.filters);
            },

            onRatingChange(rating) {
                this.filters.rating = rating;

                this.$emit('filter-changed', this.filters);
            }
        }
    }
</script>

<style lang="scss">
	.c-filters {
		width: 205px;
	}

	.c-filter {
		padding-bottom: 30px;
	}

	.c-filter + .c-filter {
		border-top: 1px solid #f5f4f2;
		padding-top: 30px;
	}

	.c-filter__title {
		font-family: "BOG 2017 Headline", Arial, sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 16px;
		color: #2a2a2a;
	}
</style>