<template>
	<div class="c-tags">
		<input type="hidden" name="tags" id="tags" :value="tagsForInput">

		<vue-tags-input
				v-model="tag"
				:tags="tagsList"
				:autocomplete-items="filteredItems"
				placeholder="ჩაწერეთ"
				@tags-changed="newTags => tagsList = newTags"
		/>
	</div>
</template>

<script>
    import VueTagsInput from '@johmun/vue-tags-input';

    export default {
        components: {
            VueTagsInput,
        },
        props: {
            tags: {
                type: Array,
                default: []
            },
            items: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                tagsList: this.tags,
                tag: ''
            }
        },
        computed: {
            filteredItems() {
                return this.items.map(item => ({text: item.title || item}))
	                .filter(item => new RegExp(this.tag, 'i').test(item.text));
            },

	        tagsForInput() {
                return this.tagsList.map(tag => tag.text).join('|');
	        }
        }
    }
</script>

<style lang="scss">
	.c-tags {
		width: 100%;

		@media (min-width: 768px) {
			width: 70%;
		}
	}

	.vue-tags-input {
		max-width: 100% !important;

		.input {
			border: 1px solid #e9ecef !important;
			padding: 0 0.5em !important;
			border-radius: 0.4rem;
			height: 3.6rem;
			line-height: 1;
			width: 100%;
		}
	}
</style>