<template>
	<div class="c-latest">
		<div class="c-latest__items" v-if="data.length">
			<a :href="`/product/${item.slug}`" class="c-latest__item" v-for="item in data">
				<img :src="item.poster_path" :alt="item.title">

				<h3 v-text="item.title"></h3>
				<h5>{{ item.price }} ₾</h5>
			</a>
			<!-- /.c-featured__item -->
		</div>
		<div class="no-records" v-else>We couldn't find any records for this filters</div>
	</div>
</template>

<script>
    export default {
        props: ['data']
    }
</script>

<style lang="scss" scoped>
	.c-latest {
		margin: 10px -0.5em 0;

		&__items {
			justify-content: center;
			flex-wrap: wrap;
			display: flex;

			@media (min-width: 992px) {
				justify-content: space-between;
			}
		}

		&__item {
			transition: opacity 200ms ease;
			text-decoration: none;
			margin: 40px 0.5em 0;
			max-width: 240px;

			&:hover {
				opacity: 0.8;
			}

			img {
				background-color: #f0f0f0;
				border-radius: 2px;
				min-height: 170px;
				min-width: 240px;
				width: 100%;
			}

			h3 {
				text-overflow: ellipsis;
				white-space: nowrap;
				padding-top: 0.5em;
				font-weight: 300;
				overflow: hidden;
				font-size: 19px;
				display: block;
				color: black;
				width: 100%;
			}

			h5 {
				font-size: 14px;
				color: #fc6719;
			}
		}
	}

	.no-records {
		background-color: #f8f8f8;
		text-transform: uppercase;
		text-align: center;
		color: #a0a0a0;
		padding: 1em;
		width: 100%;
		margin: 1em;
	}
</style>