<template>
	<a href="#" @click="submit">
		<slot></slot>

		<form :action="action" method="POST" style="display: none;">
			<input type="hidden" name="_token" :value="csrfToken">
		</form>
	</a>
</template>

<script>
    export default {
        props: {
            action: {
                type: String,
                required: true
            }
        },

        methods: {
            submit(event) {
                event.preventDefault();

                event.target.querySelector('form').submit();
            }
        },

        computed: {
            csrfToken() {
                const token = document.head.querySelector('meta[name="csrf-token"]');

                return token ? token.content : '';
            }
        }
    }
</script>