<template>
	<ul class="pagination" v-if="hasConfig">
		<li class="page-item" :class="{ 'disabled': isFirst }">
			<span class="page-link" v-if="isFirst">«</span>
			<a href="#" rel="prev" class="page-link" v-else @click.prevent="prev">«</a>
		</li>

		<li class="page-item" :class="{ 'active': isCurrent(i) }" v-for="i in config.last_page">
			<span class="page-link" v-if="isCurrent(i)" v-text="i"></span>
			<a href="#" class="page-link" v-else @click.prevent="page(i)" v-text="i"></a>
		</li>

		<li class="page-item" :class="{ 'disabled': isLast }">
			<span class="page-link" v-if="isLast">»</span>
			<a href="#" rel="next" class="page-link" v-else @click.prevent="next">»</a>
		</li>
	</ul>
</template>

<script>
    export default {
        props: {
            config: {
                type: Object,
                required: false
            }
        },
        computed: {
            hasConfig() {
                return this.config !== null;
            },

            isFirst() {
                return this.config.current_page === 1;
            },

            isLast() {
                return this.config.current_page === this.config.last_page;
            }
        },
        methods: {
            prev() {
                this.$emit('page-changed', this.config.current_page - 1);
            },

            next() {
                this.$emit('page-changed', this.config.current_page + 1);
            },

            page(page) {
                this.$emit('page-changed', page);
            },

            isCurrent(page) {
                return this.config.current_page === page;
            }
        }
    }
</script>