<template>
	<div class="c-popular">
		<slick ref="slick" :options="slickOptions">
			<a :href="`/product/${item.slug}`" class="c-popular__item" v-for="item in data">
				<img :src="item.poster_path" :alt="item.title">

				<h3 v-text="item.title"></h3>
				<h5>{{ item.price }} ₾</h5>
			</a>
			<!-- /.c-featured__item -->
		</slick>
	</div>
</template>

<script>
    import Slick from 'vue-slick';

    export default {
        props: ['data'],
        components: {Slick},
        data() {
            return {
                slickOptions: {
                    infinite: false,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    prevArrow: '<button type="button" class="o-button o-button--icon slick-dark slick-prev"><i class="c-icon c-icon-t2 c-icon--cheveron-left"></i></button>',
                    nextArrow: '<button type="button" class="o-button o-button--icon slick-dark slick-next"><i class="c-icon c-icon-t2 c-icon--cheveron-right"></i></button>',
                    mobileFirst: true,
                    responsive: [
                        {
                            breakpoint: 480,
                            settings: {
                                variableWidth: true,
                            }
                        }
                    ]
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
	.c-popular {
		position: relative;
		margin-top: 40px;

		@media (min-width: 1080px) {
			margin-left: calc((100vw - 1080px) / 2 - 1rem);
		}

		&:after {
			background: linear-gradient(to right, rgba(#fff, 0) 0%, rgba(#fff, 0.6) 20%, #fff 100%);
			width: calc((100vw - 1080px) / 2 - 1rem + 180px);
			position: absolute;
			display: none;
			content: '';
			bottom: 0;
			right: 0;
			top: 0;

			@media (min-width: 1080px) {
				display: block;
			}
		}

		&__item {
			transition: opacity 200ms ease;
			min-width: calc(270px + 0.5em);
			text-decoration: none;
			padding: 0 0.5em;

			&:focus {
				outline: none;
			}

			&:hover {
				opacity: 0.8;
			}

			img {
				background-color: #f0f0f0;
				border-radius: 2px;
				min-height: 170px;
				min-width: 240px;
				width: 100%;
			}

			h3 {
				text-overflow: ellipsis;
				white-space: nowrap;
				padding-top: 0.5em;
				font-weight: 300;
				overflow: hidden;
				font-size: 19px;
				display: block;
				color: black;
				width: 100%;
			}

			h5 {
				font-size: 14px;
				color: #fc6719;
			}
		}
	}
</style>