<template>
	<div>
		<kendo-grid
				:data-source="data"
				:pageable="true"
				:sortable="true"
				:filterable="true"
				:groupable="true"
				@databound="handleDataBound">

			<kendo-grid-column
					field="title"
					title="დასახელება"
					:groupable="false"
			></kendo-grid-column>

			<kendo-grid-column
					field="poster_path"
					title="პოსტერი"
					:sortable="false"
					:filterable="false"
					:groupable="false"
			></kendo-grid-column>

			<kendo-grid-column
					field="image_paths"
					title="სურათები"
					:sortable="false"
					:filterable="false"
					:groupable="false"
			></kendo-grid-column>

			<kendo-grid-column
					field="price"
					title="ფასი"
					:format="'{0:c}'"
			></kendo-grid-column>

			<kendo-grid-column
					field="quantity"
					title="რაოდენობა"
					:format="'{0:c}'"
			></kendo-grid-column>

			<kendo-grid-column
					:command="['edit', 'destroy']"
					title="&nbsp;"
					width="170px"
			></kendo-grid-column>

		</kendo-grid>
	</div>
</template>

<script>
    import {Grid} from '@progress/kendo-grid-vue-wrapper';

    export default {
        components: {
            Grid
        },
        data() {
            return {
                data: [],
                filter: undefined,
                sort: undefined,
                group: []
            }
        },
	    mounted() {
            this.fetchData();
	    },
        methods: {
            handleDataBound(e) {
                const {_filter, _sort, _group} = e.sender.dataSource;

                if (this.filter !== _filter || this.sort !== _sort || this.group.length !== _group.length) {
	                this.filter = _filter;
	                this.sort = _sort;
	                this.group = _group;

                    this.fetchData(_filter, _sort, _group);
                }
            },

            fetchData(filter, sort, group) {
                window.axios.post(`/api/products`, {filter, sort, group}).then(({data}) => {
                    this.data = data;
                });
            }
        }
    }
</script>