<template>
	<div class="c-rating">
		<i class="icon icon-no-star" @click="searchRating(5)"></i>
		<i class="icon icon-no-star" @click="searchRating(4)"></i>
		<i class="icon icon-no-star" @click="searchRating(3)"></i>
		<i class="icon icon-no-star" @click="searchRating(2)"></i>
		<i class="icon icon-no-star" @click="searchRating(1)"></i>
	</div>
</template>

<script>
    export default {
        props: ['rating'],
        mounted() {
            this.setRating(this.rating);
        },
        methods: {
            searchRating(rating) {
                this.setRating(rating);

                this.$emit('rating-changed', rating);
            },

            setRating(rating) {
                const stars = document.querySelectorAll('.c-rating .icon');

                _.each(stars, (star, i) => {
                    if (rating >= 5 - i) {
                        star.classList.remove('icon-no-star');
                        star.classList.add('icon-star');
                    } else {
                        star.classList.remove('icon-star');
                        star.classList.add('icon-no-star');
                    }
                });
            }
        }
    }
</script>

<style scoped lang="scss">
	.c-rating {
		cursor: pointer;
		direction: rtl;

		> .icon {
			display: inline-block;
			position: relative;
			cursor: pointer;
		}

		> .icon-no-star:hover,
		> .icon-no-star:hover ~ .icon {
			background-position: -48px -17px;
		}

		> .icon-star:hover,
		> .icon-star:hover ~ .icon {
			opacity: 0.5;
		}
	}
</style>