<template>
	<div class="related">
		<a :href="`/product/${item.slug}`" class="related-item" v-for="item in items">
			<img :src="item.poster_path" :alt="item.title">

			<h3 v-text="item.title"></h3>
			<h5>{{ item.price }} ₾</h5>
		</a>
		<!-- /.c-featured__item -->
	</div>
</template>

<script>
    export default {
        props: {
            items: {
                type: Array,
	            default: []
            }
        }
    }
</script>

<style scoped lang="scss">
	.related {
		justify-content: center;
		margin: 10px -0.5em 0;
		flex-wrap: wrap;
		display: flex;

		@media (min-width: 992px) {
			justify-content: space-between;
		}

		&-item {
			transition: opacity 200ms ease;
			text-decoration: none;
			margin: 40px 0.5em 0;
			max-width: 240px;

			&:hover {
				opacity: 0.8;
			}

			img {
				background-color: #f0f0f0;
				border-radius: 2px;
				min-height: 170px;
				min-width: 240px;
				width: 100%;
			}

			h3 {
				text-overflow: ellipsis;
				white-space: nowrap;
				padding-top: 0.5em;
				font-weight: 300;
				overflow: hidden;
				font-size: 19px;
				display: block;
				color: black;
				width: 100%;
			}

			h5 {
				font-size: 14px;
				color: #fc6719;
			}
		}
	}
</style>