<template>
	<div class="c-search">
		<input type="search" class="o-input c-input" :placeholder="placeholder" v-model="query" @keyup.enter="search">

		<button class="o-button o-button--icon c-button" @click="search">
			<i class="c-icon c-icon--search"></i>
		</button>
		<!-- /.c-button -->
	</div>
</template>

<script>
    import URL from 'url-parse';

    export default {
        props: {
            placeholder: {
                type: String,
                default: ''
            }
        },

        data() {
            return {
                query: ''
            }
        },

        methods: {
            search() {
                const link = new URL(window.location.href, true);

                link.set('pathname', '/products');

                link.set('query', {
                    ...link.query,
                    query: this.query
                });

                window.location.href = link.toString();
            }
        }
    }
</script>

<style lang="scss" scoped>
	.c-search {
		margin-right: 1.3rem;
		position: relative;
	}

	input {
		padding-right: 8rem; // 80px
		position: relative;
	}

	button {
		position: absolute;
		right: 0;
		top: 0;
	}
</style>