<template>
	<div class="c-slider__container">
		<div :class="{ 'o-wrapper': wrap }">
			<slick ref="slick" :options="slickOptions" @before-change="handleChange">
				<a :href="item.link" v-for="item in data">
					<img :src="item.image_path">
				</a>
			</slick>
		</div>
	</div>
</template>

<script>
    import Slick from 'vue-slick';

    export default {
        props: {
            data: {
                type: Array
            },
            wrap: {
                type: Boolean,
                default: false
            }
        },
        components: {Slick},
        data() {
            return {
                slickOptions: {
                    dots: false,
                    arrows: false,
                    infinite: true,
                    slidesToShow: 1,
                    speed: 500,
                    fade: true,
                    cssEase: 'linear',
                    autoplay: true,
                    prevArrow: '<button type="button" class="o-button o-button--icon slick-prev"><i class="c-icon c-icon-t1 c-icon--cheveron-left"></i></button>',
                    nextArrow: '<button type="button" class="o-button o-button--icon slick-next"><i class="c-icon c-icon-t1 c-icon--cheveron-right"></i></button>',
                    mobileFirst: true,
                    responsive: [
                        {
                            breakpoint: 768,
                            settings: {
                                dots: true,
                                arrows: true
                            }
                        }
                    ]
                }
            }
        },
        methods: {
            handleChange(event) {
                console.log(event);
            }
        },
    }
</script>

<style lang="scss" scoped>
	.c-slider__container {
		position: relative;

		& *:focus {
			outline: none;
		}
	}
</style>
