$red-notyf: $danger;
$green-notyf: $success;

@keyframes fadeinup {
  0% {
    bottom: -15px;
    max-height: 0;
    margin-top: 0;
    max-width: 0;
    opacity: 0;
  }
  30% {
    opacity: 0.8;
    bottom: -3px;
  }
  100% {
    max-height: 200px;
    margin-top: 12px;
    max-width: 400px;
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fadeoutdown {
  0% {
    opacity: 1;
    bottom: 0;
  }
  30% {
    opacity: 0.2;
    bottom: -3px;
  }
  100% {
    bottom: -15px;
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes disappear {
  0% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.notyf__icon--alert, .notyf__icon--confirm {
  position: relative;
  border-radius: 50%;
  background: $white;
  display: block;
  margin: 0 auto;
  height: 21px;
  width: 21px;
}

.notyf__icon--alert {
  &:after, &:before {
    background: $red-notyf;
    position: absolute;
    border-radius: 3px;
    display: block;
    content: "";
    width: 3px;
    left: 9px;
  }

  &:after {
    height: 3px;
    top: 14px;
  }

  &:before {
    height: 8px;
    top: 4px;
  }
}

.notyf__icon--confirm {
  &:after, &:before {
    background: $green-notyf;
    position: absolute;
    border-radius: 3px;
    display: block;
    content: "";
    width: 3px;
  }
  &:after {
    transform: rotate(-45deg);
    height: 6px;
    left: 6px;
    top: 9px;
  }
  &:before {
    transform: rotate(45deg);
    height: 11px;
    left: 10px;
    top: 5px;
  }
}

.notyf__toast {
  box-shadow: 0 1px 3px 0 rgba($black, 0.45);
  animation: fadeinup 0.3s forwards;
  padding-right: 13px;
  position: relative;
  overflow: hidden;
  display: block;

  &.notyf--alert {
    background: $red-notyf;
  }

  &.notyf--confirm {
    background: $green-notyf;
  }

  &.notyf--disappear {
    animation: fadeoutdown 0.3s 1 forwards;
    animation-delay: 0.25s;

    .notyf__message {
      animation: fadeoutdown 0.3s 1 forwards;
      animation-delay: 0.1s;
      opacity: 1;
    }

    .notyf__icon {
      animation: disappear 0.3s 1 forwards;
      opacity: 1;
    }
  }
}

.notyf__wrapper {
  padding-bottom: 20px;
  padding-right: 15px;
  border-radius: 3px;
  padding-top: 20px;
  display: table;
  width: 100%;
}

.notyf__icon {
  animation: appear 0.5s forwards;
  vertical-align: middle;
  animation-delay: 0.25s;
  display: table-cell;
  text-align: center;
  font-size: 1.3em;
  opacity: 0;
  width: 20%;
}

.notyf__message {
  animation: fadeinup 0.3s forwards;
  animation-delay: 0.15s;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  opacity: 0;
  width: 80%;
}

.notyf {
  width: calc(100% - 60px);
  position: fixed;
  z-index: 9999;
  color: $white;
  bottom: 20px;
  right: 30px;

  @include media('xs') {
    width: 60%;
  }

  @include media('sm') {
    width: 50%;
  }

  @include media('md') {
    width: 40%;
  }

  @include media('lg') {
    width: 20%;
  }
}

@media only screen and (max-width: 736px) {
  .notyf__container {
    margin: 0 auto;
    display: block;
    width: 90%;
    right: 0;
    left: 0;
  }
}
