.c-button {
  border-color: $gray-200;
  color: $secondary;

  &:hover {
    background-color: $gray-200;
    color: $secondary;
  }

  &:focus {
    box-shadow: 0 0 0 rem(3px) rgba($gray-200, .5);
  }

  &.is-filled {
    background-color: $tertiary;
    border-color: $tertiary;
    position: relative;
    color: $white;

    &:focus {
      box-shadow: 0 0 0 rem(3px) rgba($tertiary, .5);
    }
  }

  &--primary {
    border-color: $primary;
    color: $primary;

    &:hover {
      background-color: $primary;
      color: $white;
    }

    &:focus {
      box-shadow: 0 0 0 rem(3px) rgba($primary, .5);
    }

    &.c-button--filled {
      background-color: $primary;
      color: $white;

      &:hover {
        background-color: lighten($primary, 10%);
        border-color: lighten($primary, 10%);
      }
    }
  }

  &--success {
    border-color: $success;
    color: $success;

    &:hover {
      background-color: $success;
      color: $white;
    }

    &:focus {
      box-shadow: 0 0 0 rem(3px) rgba($success, .5);
    }

    &.c-button--filled {
      background-color: $success;
      color: $white;

      &:hover {
        background-color: lighten($success, 10%);
        border-color: lighten($success, 10%);
      }
    }
  }

  &--danger {
    border-color: $danger;
    color: $danger;

    &:hover {
      background-color: $danger;
      color: $white;
    }

    &:focus {
      box-shadow: 0 0 0 rem(3px) rgba($danger, .5);
    }

    &.c-button--filled {
      background-color: $danger;
      color: $white;

      &:hover {
        background-color: lighten($danger, 10%);
        border-color: lighten($danger, 10%);
      }
    }
  }

  &__badge {
    border: rem(2px) solid $white;
    background-color: $primary;
    border-radius: rem(20px);
    line-height: rem(17px);
    font-size: rem(11px);
    min-width: rem(20px);
    padding: 0 rem(5px);
    position: absolute;
    height: rem(20px);
    right: rem(-4px);
    display: block;
    top: rem(-4px);
    color: $white;
  }
}