.c-details {
  &__header {
    font-size: rem(12px);
    padding: rem(44px) 0;

    a {
      color: #a2a2a2;

      .icon {
        margin-right: rem(15px);
      }

      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }

  &__content {
    //
  }

  &__title {
    font-family: 'BOG 2017 Headline', sans-serif;
    padding: rem(35px) 0;
    font-size: rem(14px);
    font-weight: 600;
    line-height: 1;
    color: #535353;
    margin: 0;
  }

  &__related {
    border-top: 1px solid #f1f1f1;
    padding-bottom: rem(70px);
    margin-top: rem(50px);
  }
}