.c-footer {
  background-color: $gray-150;
  flex: 0 1 rem(130px);
  align-items: center;

  & > *:first-child {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: rem(130px);
    display: flex;

    @include media('sm') {
      flex-direction: row;
    }
  }

  .c-logo {
    display: none;

    @include media('md') {
      display: block;
    }
  }

  &--small {
    flex: 0 1 rem(50px);

    & > *:first-child {
      height: rem(50px);
    }
  }

  &__list {
    list-style-type: none;
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
    padding: 0;

    @include media('sm') {
      margin-right: rem(30px);
      text-align: right;
      margin-bottom: 0;
      flex: 1 1 auto;
      width: auto;
    }
  }

  &__item {
    margin-left: rem(25px);
    display: inline-block;
  }

  &__link {
    font-size: rem(14px);
    white-space: nowrap;
    font-weight: 600;
    color: $gray-575;

    @include hover {
      text-decoration: none;
      color: $black;
    }

    span {
      display: none;

      @include media('md') {
        display: inline;
      }
    }
  }

  &__info {
    display: flex;

    @include media('sm') {
      border-left: 1px solid $gray-175;
      padding-left: rem(20px);
      display: inline-block;
    }

    a {
      font-size: rem(14px);
      font-weight: 600;
      color: $primary;
    }

    span {
      padding-right: 0.8em;
      font-size: rem(14px);
      position: relative;
      font-weight: 600;
      color: $black;
      order: -1;

      &:after {
        position: absolute;
        display: block;
        content: ':';
        right: 0.5em;
        top: 0;

        @include media('sm') {
          display: none;
        }
      }
    }

    & > * {
      @include media('sm') {
        display: block;
      }
    }
  }
}