.c-form {
  border: 1px solid $gray-200;
  padding: 0;

  &__legend {
    border: 1px solid $gray-200;
    background-color: $gray-100;
    width: calc(100% + 2px);
    padding: 0.75em 1em;
    max-width: initial;
    margin: 0 -1px;
  }

  &__content {
    padding: 2em;
  }

  &__row {
    padding: 0.25em 0;
    flex-wrap: wrap;
    display: flex;

    &--unlabeled {
      padding-left: 0;

      @include media('sm') {
        padding-left: rem(200px);
      }
    }

    &.has-error {
      .c-form__control {
        border-color: $danger;

        &:not(:read-only):focus {
          box-shadow: 0 0 0 rem(3px) rgba($danger, .25);
          border-color: $danger;
        }
      }

      .c-form__message {
        color: $danger;
      }
    }
  }

  &__label {
    line-height: rem(36px);
    flex: 0 1 rem(200px);

    small {
      color: $gray-500;
    }
  }

  &__control {
    border: 1px solid $gray-200;
    border-radius: rem(4px);
    height: rem(36px);
    padding: 0 0.5em;
    line-height: 1;
    width: 100%;

    @include media('sm') {
      width: 70%;

      .c-form--horizontal & {
        width: 100%;
      }
    }
  }

  textarea.c-form__control {
    min-height: rem(200px);
    padding: 0.5em;
    height: auto;
  }

  &__message {
    padding-left: rem(200px);
    font-size: rem(12px);
  }

  &--horizontal {
    justify-content: space-between;
    padding: 0.5em 0;
    display: flex;

    .c-form__group {
      margin: 0 0.5em;
      flex: 2;

      &:last-child {
        flex: 1;
      }
    }
  }
}

.o-input--file {
  position: absolute;
  overflow: hidden;
  height: 0.1px;
  width: 0.1px;
  z-index: -1;
  opacity: 0;

  & + .c-file__chooser {
    font-family: 'BOG 2017 Headline', 'Arial', sans-serif;
    border: 1px solid $gray-200;
    border-radius: rem(4px);
    justify-content: center;
    align-items: center;
    height: rem(36px);
    color: $secondary;
    cursor: pointer;
    display: flex;
    width: 100%;

    @include media('sm') {
      width: 70%;
    }

    & * {
      pointer-events: none;
    }
  }

  &:focus + .c-file__chooser,
  & + .c-file__chooser:hover {
    background-color: $gray-200;
  }

  &:focus + .c-file__chooser {
    box-shadow: 0 0 0 rem(3px) rgba($gray-200, .5);
    outline: none;
  }
}

.c-checkbox {
  align-items: center;
  display: flex;

  span {
    padding-left: 0.5em;
  }
}

.c-option {
  &__group {
    font-weight: bold;
  }

  &__child {
    padding-left: 1em;
  }
}