.c-header {
  background-color: $white;
  padding: 1em 0;
  flex: 0 1 auto;
  display: flex;

  @include media('sm') {
    flex: 0 1 rem(105px);
  }

  & > *:first-child {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;

    @include media('sm') {
      flex-direction: row;
    }
  }

  &__controls {
    flex-direction: row;
    margin-top: 1em;
    display: flex;

    @include media('sm') {
      margin-top: 0;
    }

    .c-button--auth {
      font-size: 1.15em;
      padding: 0;

      span {
        display: none;
      }

      @include media('xs') {
        font-size: rem(14px);
        padding: 0 rem(35px);

        i {
          display: none;
        }

        span {
          display: inline;
        }
      }
    }
  }

  &__user {
    margin-right: rem(13px);

    a {
      text-decoration: none;

      @include hover {
        img {
          opacity: 0.8;
        }

        h3 {
          color: $primary;
        }
      }
    }

    img {
      vertical-align: middle;
      display: inline-block;
      border-radius: 50%;
    }

    h3 {
      margin: 0 0 0 rem(10px);
      text-overflow: ellipsis;
      vertical-align: middle;
      line-height: rem(20px);
      font-size: rem(13px);
      width: rem(100px);
      color: $gray-800;
      overflow: hidden;
      display: none;

      @include media('md') {
        display: inline-block;
      }
    }
  }
}

.c-logo {
  background: url('../images/logo.png') no-repeat center center;
  text-indent: -9999px;
  display: block;
  width: 264px;
  height: 46px;
}
