.c-icon {
  font-family: 'heroicons' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  display: inline-block;
  text-transform: none;
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  speak: none;
}

.c-icon-t1 {
  position: relative;
  top: -1px;
}

.c-icon-t2 {
  position: relative;
  top: -2px;
}

.c-icon--cart-plus:before {
  content: "\e972";
}

.c-icon--announcement:before {
  content: "\e900";
}

.c-icon--archive:before {
  content: "\e901";
}

.c-icon--arrow-down:before {
  content: "\e902";
}

.c-icon--arrow-left:before {
  content: "\e903";
}

.c-icon--arrow-right:before {
  content: "\e904";
}

.c-icon--arrow-up:before {
  content: "\e905";
}

.c-icon--at-symbol:before {
  content: "\e906";
}

.c-icon--book:before {
  content: "\e907";
}

.c-icon--bookmark:before {
  content: "\e908";
}

.c-icon--briefcase:before {
  content: "\e909";
}

.c-icon--browser:before {
  content: "\e90a";
}

.c-icon--building:before {
  content: "\e90b";
}

.c-icon--calander:before {
  content: "\e90c";
}

.c-icon--call-incoming:before {
  content: "\e90d";
}

.c-icon--call-outgoing:before {
  content: "\e90e";
}

.c-icon--call:before {
  content: "\e90f";
}

.c-icon--camera:before {
  content: "\e910";
}

.c-icon--cart:before {
  content: "\e911";
}

.c-icon--chat:before {
  content: "\e912";
}

.c-icon--check-circle:before {
  content: "\e913";
}

.c-icon--cheveron-down:before {
  content: "\e914";
}

.c-icon--cheveron-left:before {
  content: "\e915";
}

.c-icon--cheveron-right:before {
  content: "\e916";
}

.c-icon--cheveron-up:before {
  content: "\e917";
}

.c-icon--clip:before {
  content: "\e918";
}

.c-icon--clipboard:before {
  content: "\e919";
}

.c-icon--clock:before {
  content: "\e91a";
}

.c-icon--code:before {
  content: "\e91b";
}

.c-icon--cog:before {
  content: "\e91c";
}

.c-icon--comment:before {
  content: "\e91d";
}

.c-icon--compass:before {
  content: "\e91e";
}

.c-icon--currency-dollar:before {
  content: "\e91f";
}

.c-icon--dashboard:before {
  content: "\e920";
}

.c-icon--desktop:before {
  content: "\e921";
}

.c-icon--discount:before {
  content: "\e922";
}

.c-icon--download:before {
  content: "\e923";
}

.c-icon--duplicate:before {
  content: "\e924";
}

.c-icon--edit:before {
  content: "\e925";
}

.c-icon--emotion-happy:before {
  content: "\e926";
}

.c-icon--emotion-sad:before {
  content: "\e927";
}

.c-icon--exclamation:before {
  content: "\e928";
}

.c-icon--external-link:before {
  content: "\e929";
}

.c-icon--file-blank:before {
  content: "\e92a";
}

.c-icon--file-minus:before {
  content: "\e92b";
}

.c-icon--file-plus:before {
  content: "\e92c";
}

.c-icon--file:before {
  content: "\e92d";
}

.c-icon--film:before {
  content: "\e92e";
}

.c-icon--filter:before {
  content: "\e92f";
}

.c-icon--flag:before {
  content: "\e930";
}

.c-icon--folder-minus:before {
  content: "\e931";
}

.c-icon--folder-plus:before {
  content: "\e932";
}

.c-icon--folder:before {
  content: "\e933";
}

.c-icon--globe:before {
  content: "\e934";
}

.c-icon--graph-bar:before {
  content: "\e935";
}

.c-icon--grid:before {
  content: "\e936";
}

.c-icon--group:before {
  content: "\e937";
}

.c-icon--hashtag:before {
  content: "\e938";
}

.c-icon--heart:before {
  content: "\e939";
}

.c-icon--help:before {
  content: "\e93a";
}

.c-icon--home:before {
  content: "\e93b";
}

.c-icon--image:before {
  content: "\e93c";
}

.c-icon--inbox:before {
  content: "\e93d";
}

.c-icon--information:before {
  content: "\e93e";
}

.c-icon--key:before {
  content: "\e93f";
}

.c-icon--link:before {
  content: "\e940";
}

.c-icon--location:before {
  content: "\e941";
}

.c-icon--lock-closed:before {
  content: "\e942";
}

.c-icon--lock-open:before {
  content: "\e943";
}

.c-icon--mail:before {
  content: "\e944";
}

.c-icon--map:before {
  content: "\e945";
}

.c-icon--menu:before {
  content: "\e946";
}

.c-icon--microphone:before {
  content: "\e947";
}

.c-icon--minus-circle:before {
  content: "\e948";
}

.c-icon--minus-square:before {
  content: "\e949";
}

.c-icon--minus:before {
  content: "\e94a";
}

.c-icon--mobile:before {
  content: "\e94b";
}

.c-icon--moon:before {
  content: "\e94c";
}

.c-icon--more-horiz:before {
  content: "\e94d";
}

.c-icon--music:before {
  content: "\e94e";
}

.c-icon--news:before {
  content: "\e94f";
}

.c-icon--notification:before {
  content: "\e950";
}

.c-icon--plus-circle:before {
  content: "\e951";
}

.c-icon--plus-square:before {
  content: "\e952";
}

.c-icon--plus:before {
  content: "\e953";
}

.c-icon--print:before {
  content: "\e954";
}

.c-icon--puzzle:before {
  content: "\e955";
}

.c-icon--refresh:before {
  content: "\e956";
}

.c-icon--repeat:before {
  content: "\e957";
}

.c-icon--rocket:before {
  content: "\e958";
}

.c-icon--search:before {
  content: "\e959";
}

.c-icon--server:before {
  content: "\e95a";
}

.c-icon--speaker:before {
  content: "\e95b";
}

.c-icon--star:before {
  content: "\e95c";
}

.c-icon--store:before {
  content: "\e95d";
}

.c-icon--tablet:before {
  content: "\e95e";
}

.c-icon--tag:before {
  content: "\e95f";
}

.c-icon--thumb-down:before {
  content: "\e960";
}

.c-icon--thumb-up:before {
  content: "\e961";
}

.c-icon--trash:before {
  content: "\e962";
}

.c-icon--trending-down:before {
  content: "\e963";
}

.c-icon--trending-up:before {
  content: "\e964";
}

.c-icon--trophy:before {
  content: "\e965";
}

.c-icon--upload:before {
  content: "\e966";
}

.c-icon--user-check:before {
  content: "\e967";
}

.c-icon--user-minus:before {
  content: "\e968";
}

.c-icon--user-plus:before {
  content: "\e969";
}

.c-icon--user:before {
  content: "\e96a";
}

.c-icon--video:before {
  content: "\e96b";
}

.c-icon--view:before {
  content: "\e96c";
}

.c-icon--x-circle:before {
  content: "\e96d";
}

.c-icon--x-square:before {
  content: "\e96e";
}

.c-icon--x:before {
  content: "\e96f";
}

.c-icon--zoom-in:before {
  content: "\e970";
}

.c-icon--zoom-out:before {
  content: "\e971";
}
