.c-navigation {
  background-color: $gray-100;
  align-items: center;
  flex: 0 1 rem(70px);
  position: relative;
  display: flex;

  & > *:first-child {
    overflow-x: scroll;

    &:after {
      background: linear-gradient(to right, rgba($gray-100, 0), $gray-100);
      position: absolute;
      width: rem(100px);
      height: rem(70px);
      display: block;
      content: '';
      right: 0;
      top: 0;
    }
  }

  &__list {
    list-style-type: none;
    overflow-y: hidden;
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__item {
    line-height: rem(70px);
    height: rem(70px);

    &:first-child {
      margin-left: rem(-22.5px);
    }

    &:last-child {
      padding-right: rem(45px);
    }

    @include hover {
      & .c-navigation__link {
        text-decoration: none;
        color: $primary;
      }
    }

    &.has-dropdown {
      @include hover {
        & .c-navigation__link {
          &:after {
            display: block;
          }
        }

        & .c-dropdown {
          display: block;
          opacity: 1;
        }
      }
    }
  }

  &__link {
    padding: 0 rem(22.5px);
    text-decoration: none;
    position: relative;
    font-weight: 600;
    color: $gray-550;
    display: block;

    &:after {
      background-color: $tertiary;
      transform: rotate(45deg);
      border-radius: rem(6px);
      position: absolute;
      bottom: rem(-14px);
      height: rem(21px);
      width: rem(21px);
      margin: 0 auto;
      display: none;
      content: "";
      right: 0;
      left: 0;
    }

    &.is-active {
      color: $primary;
    }

    @include hover {
      text-decoration: none;
      color: $primary;
    }
  }
}

.c-dropdown {
  background-color: $tertiary;
  max-height: rem(300px);
  padding: rem(50px) 0;
  position: absolute;
  line-height: 1;
  display: none;
  z-index: 987;
  opacity: 0;
  top: 100%;
  right: 0;
  left: 0;

  & > * {
    display: flex;
  }

  &__info {
    width: rem(330px);
    margin-left: auto;
    display: none;

    @include media('sm') {
      display: block;
    }
  }

  &__list {
    flex-direction: column;
    max-height: rem(200px);
    list-style-type: none;
    width: rem(180px);
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    padding: 0;

    @include media('sm') {
      margin: 0;
    }
  }

  &__item {
    margin-bottom: rem(25px);
    min-width: rem(200px);
  }

  &__link {
    font-size: rem(15px);
    color: $text-light;
    font-weight: 600;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }

  &__title {
    font-size: rem(24px);
    color: $white;
  }

  &__description {
    color: rgba($white, 0.8);
    font-size: rem(15px);
    font-weight: normal;
    line-height: 1.5;
    padding: 1em 0;
  }

  &__view {
    text-decoration: underline;
    font-size: rem(15px);
    font-weight: 600;
    color: $white;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}
