.pagination {
  justify-content: center;
  list-style-type: none;
  margin: 2em 0 1em;
  display: flex;
  width: 100%;
  padding: 0;

  li {
    margin: 0 0.25em;

    a, span {
      border: 1px solid $gray-200;
      text-decoration: none;
      font-size: rem(14px);
      border-radius: 50%;
      text-align: center;
      color: $secondary;
      line-height: 2.4;
      display: block;
      height: 2.5em;
      width: 2.5em;
    }

    a {
      border-color: $primary;
      color: $primary;

      &:hover {
        background-color: $primary;
        color: $white;
      }

      &:focus {
        box-shadow: 0 0 0 rem(3px) rgba($primary, .5);
      }
    }

    &.active {
      span {
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
    }

    &:first-child, &:last-child {
      a, span {
        line-height: 2.25;
      }
    }
  }
}