.c-popup {
  background-color: rgba($black, 0.5);
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  @include media('sm') {
    justify-content: initial;
  }

  &__content {
    background-color: $white;
    border-radius: rem(8px);
    position: absolute;
    padding: rem(22px);
    width: rem(320px);
    top: rem(150px);
    margin: 0 auto;
    right: 0;
    left: 0;

    form {
      & > * + * {
        margin-top: 1em;
      }
    }

    .c-popup--auth & {
      @include media('sm') {
        right: rem(70px);
        top: rem(100px);
        left: auto;
      }

      @media(min-width: 1080px) {
        right: calc((100vw - 1080px) / 2 - 1rem + 70px);
      }
    }
  }
}