.c-products {
  margin-top: rem(45px);
  display: flex;

  &__filters {
    border-right: 1px solid $gray-150;
    padding-right: rem(35px);
    flex: 0 1 rem(240px);
  }

  &__content {
    padding-left: rem(35px);
    margin-top: -10px;
    flex: 1 1 auto;
  }

  &__pagination {
    .page-item {
      .page-link {
        border-color: #ebebeb;
        color: #959595;

        &:hover {
          background-color: #f0f0f0;
          border-color: #f0f0f0;
        }
      }

      &:first-child,
      &:last-child {
        .page-link {
          background-color: #f0f0f0;
          border-color: #f0f0f0;
        }
      }

      &.active {
        .page-link {
          //box-shadow: 0 11px 16px 0 rgba(#fc6719, 0.3);
          background-color: #fc6719;
          border-color: #fc6719;
          color: #fff;
        }
      }
    }
  }
}