.c-section {
  padding: rem(60px) 0;

  &--secondary {
    background: url('../images/featured-bg-left.png') no-repeat left center,
    $secondary url('../images/featured-bg-right.png') no-repeat right center;
    padding: rem(40px) 0;
  }

  &__title {
    font-size: rem(24px);
    font-weight: 500;
    color: $gray-850;

    em {
      position: relative;
      font-style: normal;
      color: $primary;

      &:before {
        background-color: $primary;
        position: absolute;
        bottom: rem(-5px);
        width: rem(12px);
        height: rem(1px);
        display: block;
        left: rem(2px);
        content: '';
      }
    }

    &--success {
      em {
        color: $success;

        &:before {
          background-color: $success;
        }
      }
    }
  }

  &__footer {
    margin-top: rem(50px);

    .o-button {
      padding: 0 rem(70px);
    }
  }
}