.c-table {
  min-width: rem(1000px);

  &__wrapper {
    border: 1px solid $gray-200;
  }

  thead {
    background-color: darken($gray-100, 2%);
  }

  th {
    font-family: 'BOG 2017 Headline', 'Arial', sans-serif;
    text-transform: uppercase;
    padding: 0.75em 1em;
    text-align: center;
    font-weight: 500;

    & + th {
      border-left: 1px solid $gray-200;
    }
  }

  &__row {
    border-bottom: 1px solid $gray-200;
    height: 4em;

    &--nested {
      background-color: rgba($gray-100, 0.5);
    }
  }

  &__toggler {
    font-size: rem(25px);
  }

  td {
    padding: 0.75em 1em;

    & + td {
      border-left: 1px solid $gray-200;
    }
  }

  &__controls {
    white-space: nowrap;
  }
}