@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@function rem($value, $base: 10) {
  @return #{parseInt($value) / parseInt($base)}rem;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}