@mixin media($screen) {
  @if $screen == 'xs' {
    @media (min-width: $screen-xs) {
      @content;
    }
  } @else if $screen == 'sm' {
    @media (min-width: $screen-sm) {
      @content;
    }
  } @else if $screen == 'md' {
    @media (min-width: $screen-md) {
      @content;
    }
  } @else {
    @media (min-width: $screen-lg) {
      @content;
    }
  }
}