html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
}

@-ms-viewport {
  width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  border: 1px dashed rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: visible;
  height: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #fc6719;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #c64603;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

@font-face {
  font-family: 'heroicons';
  src: url("../fonts/heroicons.eot?k7s9kq");
  src: url("../fonts/heroicons.eot?k7s9kq#iefix") format("embedded-opentype"), url("../fonts/heroicons.ttf?k7s9kq") format("truetype"), url("../fonts/heroicons.woff?k7s9kq") format("woff"), url("../fonts/heroicons.svg?k7s9kq#heroicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017';
  src: url("../fonts/BOG2017-Light.eot");
  src: url("../fonts/BOG2017-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BOG2017-Light.woff2") format("woff2"), url("../fonts/BOG2017-Light.woff") format("woff"), url("../fonts/BOG2017-Light.ttf") format("truetype"), url("../fonts/BOG2017-Light.svg#BOG2017-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017';
  src: url("../fonts/BOG2017-Regular.eot");
  src: url("../fonts/BOG2017-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BOG2017-Regular.woff2") format("woff2"), url("../fonts/BOG2017-Regular.woff") format("woff"), url("../fonts/BOG2017-Regular.ttf") format("truetype"), url("../fonts/BOG2017-Regular.svg#BOG2017-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017';
  src: url("../fonts/BOG2017-Medium.eot");
  src: url("../fonts/BOG2017-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BOG2017-Medium.woff2") format("woff2"), url("../fonts/BOG2017-Medium.woff") format("woff"), url("../fonts/BOG2017-Medium.ttf") format("truetype"), url("../fonts/BOG2017-Medium.svg#BOG2017-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017';
  src: url("../fonts/BOG2017-SemiBold.eot");
  src: url("../fonts/BOG2017-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BOG2017-SemiBold.woff2") format("woff2"), url("../fonts/BOG2017-SemiBold.woff") format("woff"), url("../fonts/BOG2017-SemiBold.ttf") format("truetype"), url("../fonts/BOG2017-SemiBold.svg#BOG2017-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017';
  src: url("../fonts/BOG2017-Bold.eot");
  src: url("../fonts/BOG2017-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BOG2017-Bold.woff2") format("woff2"), url("../fonts/BOG2017-Bold.woff") format("woff"), url("../fonts/BOG2017-Bold.ttf") format("truetype"), url("../fonts/BOG2017-Bold.svg#BOG2017-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Body';
  src: url("../fonts/BOG2017Body-Light.eot");
  src: url("../fonts/BOG2017Body-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BOG2017Body-Light.woff2") format("woff2"), url("../fonts/BOG2017Body-Light.woff") format("woff"), url("../fonts/BOG2017Body-Light.ttf") format("truetype"), url("../fonts/BOG2017Body-Light.svg#BOG2017Body-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Body';
  src: url("../fonts/BOG2017Body-Regular.eot");
  src: url("../fonts/BOG2017Body-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BOG2017Body-Regular.woff2") format("woff2"), url("../fonts/BOG2017Body-Regular.woff") format("woff"), url("../fonts/BOG2017Body-Regular.ttf") format("truetype"), url("../fonts/BOG2017Body-Regular.svg#BOG2017Body-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Body';
  src: url("../fonts/BOG2017Body-Bold.eot");
  src: url("../fonts/BOG2017Body-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BOG2017Body-Bold.woff2") format("woff2"), url("../fonts/BOG2017Body-Bold.woff") format("woff"), url("../fonts/BOG2017Body-Bold.ttf") format("truetype"), url("../fonts/BOG2017Body-Bold.svg#BOG2017Body-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Headline';
  src: url("../fonts/BOG2017Headline-Light.eot");
  src: url("../fonts/BOG2017Headline-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BOG2017Headline-Light.woff2") format("woff2"), url("../fonts/BOG2017Headline-Light.woff") format("woff"), url("../fonts/BOG2017Headline-Light.ttf") format("truetype"), url("../fonts/BOG2017Headline-Light.svg#BOG2017Headline-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Headline';
  src: url("../fonts/BOG2017Headline-Regular.eot");
  src: url("../fonts/BOG2017Headline-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BOG2017Headline-Regular.woff2") format("woff2"), url("../fonts/BOG2017Headline-Regular.woff") format("woff"), url("../fonts/BOG2017Headline-Regular.ttf") format("truetype"), url("../fonts/BOG2017Headline-Regular.svg#BOG2017Headline-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Headline';
  src: url("../fonts/BOG2017Headline-Medium.eot");
  src: url("../fonts/BOG2017Headline-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BOG2017Headline-Medium.woff2") format("woff2"), url("../fonts/BOG2017Headline-Medium.woff") format("woff"), url("../fonts/BOG2017Headline-Medium.ttf") format("truetype"), url("../fonts/BOG2017Headline-Medium.svg#BOG2017Headline-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Headline';
  src: url("../fonts/BOG2017Headline-SemiBold.eot");
  src: url("../fonts/BOG2017Headline-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BOG2017Headline-SemiBold.woff2") format("woff2"), url("../fonts/BOG2017Headline-SemiBold.woff") format("woff"), url("../fonts/BOG2017Headline-SemiBold.ttf") format("truetype"), url("../fonts/BOG2017Headline-SemiBold.svg#BOG2017Headline-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Headline';
  src: url("../fonts/BOG2017Headline-Bold.eot");
  src: url("../fonts/BOG2017Headline-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BOG2017Headline-Bold.woff2") format("woff2"), url("../fonts/BOG2017Headline-Bold.woff") format("woff"), url("../fonts/BOG2017Headline-Bold.ttf") format("truetype"), url("../fonts/BOG2017Headline-Bold.svg#BOG2017Headline-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'BOG 2017 Body', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

h1 {
  font-size: 0.25rem;
}

h2 {
  font-size: 0.2rem;
}

h3 {
  font-size: 0.175rem;
}

h4 {
  font-size: 0.15rem;
}

h5 {
  font-size: 0.125rem;
}

h6 {
  font-size: 0.1rem;
}

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

table {
  width: 100%;
}

.o-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
}

.o-wrapper {
  max-width: 111.2rem;
  padding: 0 1.6rem;
  margin: 0 auto;
  width: 100%;
}

.o-input {
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #f5f4f2;
  border-radius: 4.8rem;
  line-height: 4.6rem;
  padding: 0 3rem;
  font-size: 1.3rem;
  height: 4.8rem;
  color: #a0a0a0;
  display: block;
  width: 100%;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.o-input:not(:-moz-read-only):focus {
  box-shadow: 0 0 0 0.3rem rgba(128, 189, 255, 0.25);
  border-color: #80bdff;
  outline: 0;
}

.o-input:not(:read-only):focus {
  -webkit-box-shadow: 0 0 0 0.3rem rgba(128, 189, 255, 0.25);
          box-shadow: 0 0 0 0.3rem rgba(128, 189, 255, 0.25);
  border-color: #80bdff;
  outline: 0;
}

.o-input:-moz-read-only {
  background-color: #f8f8f8;
}

.o-input:read-only {
  background-color: #f8f8f8;
}

.o-input[multiple] {
  height: 12rem;
}

.o-button {
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 4.8rem;
  vertical-align: middle;
  display: inline-block;
  padding: 0 3.5rem;
  font-size: 1.4rem;
  min-width: 4.6rem;
  white-space: nowrap;
  text-align: center;
  height: 4.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  cursor: pointer;
  line-height: 1;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.o-button:focus {
  outline: none;
}

.o-button:hover {
  text-decoration: none;
}

.o-button + .o-button {
  margin-left: 1.3rem;
}

.o-button--icon {
  font-size: 1.15em;
  padding: 0;
}

.o-button--fluid {
  width: 100%;
  padding: 0;
}

.o-button--small {
  border-radius: 0.4rem;
  height: 3.6rem;
}

.o-button:not(:disabled):not(.is-disabled) {
  cursor: pointer;
}

a.o-button {
  line-height: 4.6rem;
}

a.o-button--icon {
  line-height: 4.2rem;
}

.icon {
  background-image: url("../images/sprite.png");
  vertical-align: middle;
  display: inline-block;
}

.icon-arrow-left-o {
  width: 7px;
  height: 14px;
  background-position: -65px -26px;
}

.icon-arrow-left {
  width: 13px;
  height: 13px;
  background-position: -29px -42px;
}

.icon-arrow-right-o {
  width: 7px;
  height: 14px;
  background-position: -65px -12px;
}

.icon-arrow-right {
  width: 13px;
  height: 13px;
  background-position: -42px -42px;
}

.icon-back {
  width: 18px;
  height: 8px;
  background-position: -0 -57px;
}

.icon-cart-plus {
  width: 28px;
  height: 22px;
  background-position: -0 -0;
}

.icon-cart {
  width: 20px;
  height: 20px;
  background-position: -0 -22px;
}

.icon-checkbox-checked {
  width: 14px;
  height: 13px;
  background-position: -15px -42px;
}

.icon-checkbox {
  width: 12px;
  height: 12px;
  background-position: -65px -0;
}

.icon-minus {
  width: 8px;
  height: 2px;
  background-position: -65px -48px;
}

.icon-no-star {
  width: 17px;
  height: 17px;
  background-position: -48px -0;
}

.icon-plus-o {
  width: 15px;
  height: 15px;
  background-position: -0 -42px;
}

.icon-plus {
  width: 8px;
  height: 8px;
  background-position: -65px -40px;
}

.icon-search {
  width: 18px;
  height: 18px;
  background-position: -20px -22px;
}

.icon-star {
  width: 17px;
  height: 17px;
  background-position: -48px -17px;
}

.icon-trash {
  width: 20px;
  height: 22px;
  background-position: -28px -0;
}

.icon-triangle-top {
  width: 20px;
  height: 7px;
  background-position: -18px -57px;
}

.c-header {
  background-color: #fff;
  padding: 1em 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .c-header {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10.5rem;
            flex: 0 1 10.5rem;
  }
}

.c-header > *:first-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .c-header > *:first-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.c-header__controls {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .c-header__controls {
    margin-top: 0;
  }
}

.c-header__controls .c-button--auth {
  font-size: 1.15em;
  padding: 0;
}

.c-header__controls .c-button--auth span {
  display: none;
}

@media (min-width: 480px) {
  .c-header__controls .c-button--auth {
    font-size: 1.4rem;
    padding: 0 3.5rem;
  }
  .c-header__controls .c-button--auth i {
    display: none;
  }
  .c-header__controls .c-button--auth span {
    display: inline;
  }
}

.c-header__user {
  margin-right: 1.3rem;
}

.c-header__user a {
  text-decoration: none;
}

.c-header__user a:hover img {
  opacity: 0.8;
}

.c-header__user a:hover h3 {
  color: #fc6719;
}

.c-header__user img {
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
}

.c-header__user h3 {
  margin: 0 0 0 1rem;
  text-overflow: ellipsis;
  vertical-align: middle;
  line-height: 2rem;
  font-size: 1.3rem;
  width: 10rem;
  color: #313131;
  overflow: hidden;
  display: none;
}

@media (min-width: 992px) {
  .c-header__user h3 {
    display: inline-block;
  }
}

.c-logo {
  background: url("../images/logo.png") no-repeat center center;
  text-indent: -9999px;
  display: block;
  width: 264px;
  height: 46px;
}

.c-input {
  border-color: #f5f4f2;
  color: #2d2a37;
}

.c-input::-webkit-input-placeholder {
  color: #adb5bd;
}

.c-input:-moz-placeholder {
  color: #adb5bd;
}

.c-input::-moz-placeholder {
  color: #adb5bd;
}

.c-input:-ms-input-placeholder {
  color: #adb5bd;
}

.c-button {
  border-color: #e9ecef;
  color: #2d2a37;
}

.c-button:hover {
  background-color: #e9ecef;
  color: #2d2a37;
}

.c-button:focus {
  -webkit-box-shadow: 0 0 0 0.3rem rgba(233, 236, 239, 0.5);
          box-shadow: 0 0 0 0.3rem rgba(233, 236, 239, 0.5);
}

.c-button.is-filled {
  background-color: #5e566b;
  border-color: #5e566b;
  position: relative;
  color: #fff;
}

.c-button.is-filled:focus {
  -webkit-box-shadow: 0 0 0 0.3rem rgba(94, 86, 107, 0.5);
          box-shadow: 0 0 0 0.3rem rgba(94, 86, 107, 0.5);
}

.c-button--primary {
  border-color: #fc6719;
  color: #fc6719;
}

.c-button--primary:hover {
  background-color: #fc6719;
  color: #fff;
}

.c-button--primary:focus {
  -webkit-box-shadow: 0 0 0 0.3rem rgba(252, 103, 25, 0.5);
          box-shadow: 0 0 0 0.3rem rgba(252, 103, 25, 0.5);
}

.c-button--primary.c-button--filled {
  background-color: #fc6719;
  color: #fff;
}

.c-button--primary.c-button--filled:hover {
  background-color: #fd884b;
  border-color: #fd884b;
}

.c-button--success {
  border-color: #69bf4a;
  color: #69bf4a;
}

.c-button--success:hover {
  background-color: #69bf4a;
  color: #fff;
}

.c-button--success:focus {
  -webkit-box-shadow: 0 0 0 0.3rem rgba(105, 191, 74, 0.5);
          box-shadow: 0 0 0 0.3rem rgba(105, 191, 74, 0.5);
}

.c-button--success.c-button--filled {
  background-color: #69bf4a;
  color: #fff;
}

.c-button--success.c-button--filled:hover {
  background-color: #88cc70;
  border-color: #88cc70;
}

.c-button--danger {
  border-color: #f5576e;
  color: #f5576e;
}

.c-button--danger:hover {
  background-color: #f5576e;
  color: #fff;
}

.c-button--danger:focus {
  -webkit-box-shadow: 0 0 0 0.3rem rgba(245, 87, 110, 0.5);
          box-shadow: 0 0 0 0.3rem rgba(245, 87, 110, 0.5);
}

.c-button--danger.c-button--filled {
  background-color: #f5576e;
  color: #fff;
}

.c-button--danger.c-button--filled:hover {
  background-color: #f88798;
  border-color: #f88798;
}

.c-button__badge {
  border: 0.2rem solid #fff;
  background-color: #fc6719;
  border-radius: 2rem;
  line-height: 1.7rem;
  font-size: 1.1rem;
  min-width: 2rem;
  padding: 0 0.5rem;
  position: absolute;
  height: 2rem;
  right: -0.4rem;
  display: block;
  top: -0.4rem;
  color: #fff;
}

.c-icon {
  font-family: 'heroicons' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  display: inline-block;
  text-transform: none;
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  speak: none;
}

.c-icon-t1 {
  position: relative;
  top: -1px;
}

.c-icon-t2 {
  position: relative;
  top: -2px;
}

.c-icon--cart-plus:before {
  content: "\E972";
}

.c-icon--announcement:before {
  content: "\E900";
}

.c-icon--archive:before {
  content: "\E901";
}

.c-icon--arrow-down:before {
  content: "\E902";
}

.c-icon--arrow-left:before {
  content: "\E903";
}

.c-icon--arrow-right:before {
  content: "\E904";
}

.c-icon--arrow-up:before {
  content: "\E905";
}

.c-icon--at-symbol:before {
  content: "\E906";
}

.c-icon--book:before {
  content: "\E907";
}

.c-icon--bookmark:before {
  content: "\E908";
}

.c-icon--briefcase:before {
  content: "\E909";
}

.c-icon--browser:before {
  content: "\E90A";
}

.c-icon--building:before {
  content: "\E90B";
}

.c-icon--calander:before {
  content: "\E90C";
}

.c-icon--call-incoming:before {
  content: "\E90D";
}

.c-icon--call-outgoing:before {
  content: "\E90E";
}

.c-icon--call:before {
  content: "\E90F";
}

.c-icon--camera:before {
  content: "\E910";
}

.c-icon--cart:before {
  content: "\E911";
}

.c-icon--chat:before {
  content: "\E912";
}

.c-icon--check-circle:before {
  content: "\E913";
}

.c-icon--cheveron-down:before {
  content: "\E914";
}

.c-icon--cheveron-left:before {
  content: "\E915";
}

.c-icon--cheveron-right:before {
  content: "\E916";
}

.c-icon--cheveron-up:before {
  content: "\E917";
}

.c-icon--clip:before {
  content: "\E918";
}

.c-icon--clipboard:before {
  content: "\E919";
}

.c-icon--clock:before {
  content: "\E91A";
}

.c-icon--code:before {
  content: "\E91B";
}

.c-icon--cog:before {
  content: "\E91C";
}

.c-icon--comment:before {
  content: "\E91D";
}

.c-icon--compass:before {
  content: "\E91E";
}

.c-icon--currency-dollar:before {
  content: "\E91F";
}

.c-icon--dashboard:before {
  content: "\E920";
}

.c-icon--desktop:before {
  content: "\E921";
}

.c-icon--discount:before {
  content: "\E922";
}

.c-icon--download:before {
  content: "\E923";
}

.c-icon--duplicate:before {
  content: "\E924";
}

.c-icon--edit:before {
  content: "\E925";
}

.c-icon--emotion-happy:before {
  content: "\E926";
}

.c-icon--emotion-sad:before {
  content: "\E927";
}

.c-icon--exclamation:before {
  content: "\E928";
}

.c-icon--external-link:before {
  content: "\E929";
}

.c-icon--file-blank:before {
  content: "\E92A";
}

.c-icon--file-minus:before {
  content: "\E92B";
}

.c-icon--file-plus:before {
  content: "\E92C";
}

.c-icon--file:before {
  content: "\E92D";
}

.c-icon--film:before {
  content: "\E92E";
}

.c-icon--filter:before {
  content: "\E92F";
}

.c-icon--flag:before {
  content: "\E930";
}

.c-icon--folder-minus:before {
  content: "\E931";
}

.c-icon--folder-plus:before {
  content: "\E932";
}

.c-icon--folder:before {
  content: "\E933";
}

.c-icon--globe:before {
  content: "\E934";
}

.c-icon--graph-bar:before {
  content: "\E935";
}

.c-icon--grid:before {
  content: "\E936";
}

.c-icon--group:before {
  content: "\E937";
}

.c-icon--hashtag:before {
  content: "\E938";
}

.c-icon--heart:before {
  content: "\E939";
}

.c-icon--help:before {
  content: "\E93A";
}

.c-icon--home:before {
  content: "\E93B";
}

.c-icon--image:before {
  content: "\E93C";
}

.c-icon--inbox:before {
  content: "\E93D";
}

.c-icon--information:before {
  content: "\E93E";
}

.c-icon--key:before {
  content: "\E93F";
}

.c-icon--link:before {
  content: "\E940";
}

.c-icon--location:before {
  content: "\E941";
}

.c-icon--lock-closed:before {
  content: "\E942";
}

.c-icon--lock-open:before {
  content: "\E943";
}

.c-icon--mail:before {
  content: "\E944";
}

.c-icon--map:before {
  content: "\E945";
}

.c-icon--menu:before {
  content: "\E946";
}

.c-icon--microphone:before {
  content: "\E947";
}

.c-icon--minus-circle:before {
  content: "\E948";
}

.c-icon--minus-square:before {
  content: "\E949";
}

.c-icon--minus:before {
  content: "\E94A";
}

.c-icon--mobile:before {
  content: "\E94B";
}

.c-icon--moon:before {
  content: "\E94C";
}

.c-icon--more-horiz:before {
  content: "\E94D";
}

.c-icon--music:before {
  content: "\E94E";
}

.c-icon--news:before {
  content: "\E94F";
}

.c-icon--notification:before {
  content: "\E950";
}

.c-icon--plus-circle:before {
  content: "\E951";
}

.c-icon--plus-square:before {
  content: "\E952";
}

.c-icon--plus:before {
  content: "\E953";
}

.c-icon--print:before {
  content: "\E954";
}

.c-icon--puzzle:before {
  content: "\E955";
}

.c-icon--refresh:before {
  content: "\E956";
}

.c-icon--repeat:before {
  content: "\E957";
}

.c-icon--rocket:before {
  content: "\E958";
}

.c-icon--search:before {
  content: "\E959";
}

.c-icon--server:before {
  content: "\E95A";
}

.c-icon--speaker:before {
  content: "\E95B";
}

.c-icon--star:before {
  content: "\E95C";
}

.c-icon--store:before {
  content: "\E95D";
}

.c-icon--tablet:before {
  content: "\E95E";
}

.c-icon--tag:before {
  content: "\E95F";
}

.c-icon--thumb-down:before {
  content: "\E960";
}

.c-icon--thumb-up:before {
  content: "\E961";
}

.c-icon--trash:before {
  content: "\E962";
}

.c-icon--trending-down:before {
  content: "\E963";
}

.c-icon--trending-up:before {
  content: "\E964";
}

.c-icon--trophy:before {
  content: "\E965";
}

.c-icon--upload:before {
  content: "\E966";
}

.c-icon--user-check:before {
  content: "\E967";
}

.c-icon--user-minus:before {
  content: "\E968";
}

.c-icon--user-plus:before {
  content: "\E969";
}

.c-icon--user:before {
  content: "\E96A";
}

.c-icon--video:before {
  content: "\E96B";
}

.c-icon--view:before {
  content: "\E96C";
}

.c-icon--x-circle:before {
  content: "\E96D";
}

.c-icon--x-square:before {
  content: "\E96E";
}

.c-icon--x:before {
  content: "\E96F";
}

.c-icon--zoom-in:before {
  content: "\E970";
}

.c-icon--zoom-out:before {
  content: "\E971";
}

.c-popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  .c-popup {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}

.c-popup__content {
  background-color: #fff;
  border-radius: 0.8rem;
  position: absolute;
  padding: 2.2rem;
  width: 32rem;
  top: 15rem;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.c-popup__content form > * + * {
  margin-top: 1em;
}

@media (min-width: 768px) {
  .c-popup--auth .c-popup__content {
    right: 7rem;
    top: 10rem;
    left: auto;
  }
}

@media (min-width: 1080px) {
  .c-popup--auth .c-popup__content {
    right: calc((100vw - 1080px) / 2 - 1rem + 70px);
  }
}

.c-navigation {
  background-color: #f8f8f8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 7rem;
          flex: 0 1 7rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-navigation > *:first-child {
  overflow-x: scroll;
}

.c-navigation > *:first-child:after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(248, 248, 248, 0)), to(#f8f8f8));
  background: linear-gradient(to right, rgba(248, 248, 248, 0), #f8f8f8);
  position: absolute;
  width: 10rem;
  height: 7rem;
  display: block;
  content: '';
  right: 0;
  top: 0;
}

.c-navigation__list {
  list-style-type: none;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.c-navigation__item {
  line-height: 7rem;
  height: 7rem;
}

.c-navigation__item:first-child {
  margin-left: -2.25rem;
}

.c-navigation__item:last-child {
  padding-right: 4.5rem;
}

.c-navigation__item:hover .c-navigation__link {
  text-decoration: none;
  color: #fc6719;
}

.c-navigation__item.has-dropdown:hover .c-navigation__link:after {
  display: block;
}

.c-navigation__item.has-dropdown:hover .c-dropdown {
  display: block;
  opacity: 1;
}

.c-navigation__link {
  padding: 0 2.25rem;
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: #a0a0a0;
  display: block;
}

.c-navigation__link:after {
  background-color: #5e566b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0.6rem;
  position: absolute;
  bottom: -1.4rem;
  height: 2.1rem;
  width: 2.1rem;
  margin: 0 auto;
  display: none;
  content: "";
  right: 0;
  left: 0;
}

.c-navigation__link.is-active {
  color: #fc6719;
}

.c-navigation__link:hover {
  text-decoration: none;
  color: #fc6719;
}

.c-dropdown {
  background-color: #5e566b;
  max-height: 30rem;
  padding: 5rem 0;
  position: absolute;
  line-height: 1;
  display: none;
  z-index: 987;
  opacity: 0;
  top: 100%;
  right: 0;
  left: 0;
}

.c-dropdown > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-dropdown__info {
  width: 33rem;
  margin-left: auto;
  display: none;
}

@media (min-width: 768px) {
  .c-dropdown__info {
    display: block;
  }
}

.c-dropdown__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 20rem;
  list-style-type: none;
  width: 18rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

@media (min-width: 768px) {
  .c-dropdown__list {
    margin: 0;
  }
}

.c-dropdown__item {
  margin-bottom: 2.5rem;
  min-width: 20rem;
}

.c-dropdown__link {
  font-size: 1.5rem;
  color: #ccc6d6;
  font-weight: 600;
}

.c-dropdown__link:hover {
  text-decoration: none;
  color: #fff;
}

.c-dropdown__title {
  font-size: 2.4rem;
  color: #fff;
}

.c-dropdown__description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.5;
  padding: 1em 0;
}

.c-dropdown__view {
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.c-dropdown__view:hover {
  text-decoration: none;
  color: #fff;
}

.c-content {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.c-section {
  padding: 6rem 0;
}

.c-section--secondary {
  background: url("../images/featured-bg-left.png") no-repeat left center, #2d2a37 url("../images/featured-bg-right.png") no-repeat right center;
  padding: 4rem 0;
}

.c-section__title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #2d2d2d;
}

.c-section__title em {
  position: relative;
  font-style: normal;
  color: #fc6719;
}

.c-section__title em:before {
  background-color: #fc6719;
  position: absolute;
  bottom: -0.5rem;
  width: 1.2rem;
  height: 0.1rem;
  display: block;
  left: 0.2rem;
  content: '';
}

.c-section__title--success em {
  color: #69bf4a;
}

.c-section__title--success em:before {
  background-color: #69bf4a;
}

.c-section__footer {
  margin-top: 5rem;
}

.c-section__footer .o-button {
  padding: 0 7rem;
}

.c-table {
  min-width: 100rem;
}

.c-table__wrapper {
  border: 1px solid #e9ecef;
}

.c-table thead {
  background-color: #f3f3f3;
}

.c-table th {
  font-family: 'BOG 2017 Headline', 'Arial', sans-serif;
  text-transform: uppercase;
  padding: 0.75em 1em;
  text-align: center;
  font-weight: 500;
}

.c-table th + th {
  border-left: 1px solid #e9ecef;
}

.c-table__row {
  border-bottom: 1px solid #e9ecef;
  height: 4em;
}

.c-table__row--nested {
  background-color: rgba(248, 248, 248, 0.5);
}

.c-table__toggler {
  font-size: 2.5rem;
}

.c-table td {
  padding: 0.75em 1em;
}

.c-table td + td {
  border-left: 1px solid #e9ecef;
}

.c-table__controls {
  white-space: nowrap;
}

.c-form {
  border: 1px solid #e9ecef;
  padding: 0;
}

.c-form__legend {
  border: 1px solid #e9ecef;
  background-color: #f8f8f8;
  width: calc(100% + 2px);
  padding: 0.75em 1em;
  max-width: initial;
  margin: 0 -1px;
}

.c-form__content {
  padding: 2em;
}

.c-form__row {
  padding: 0.25em 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-form__row--unlabeled {
  padding-left: 0;
}

@media (min-width: 768px) {
  .c-form__row--unlabeled {
    padding-left: 20rem;
  }
}

.c-form__row.has-error .c-form__control {
  border-color: #f5576e;
}

.c-form__row.has-error .c-form__control:not(:-moz-read-only):focus {
  box-shadow: 0 0 0 0.3rem rgba(245, 87, 110, 0.25);
  border-color: #f5576e;
}

.c-form__row.has-error .c-form__control:not(:read-only):focus {
  -webkit-box-shadow: 0 0 0 0.3rem rgba(245, 87, 110, 0.25);
          box-shadow: 0 0 0 0.3rem rgba(245, 87, 110, 0.25);
  border-color: #f5576e;
}

.c-form__row.has-error .c-form__message {
  color: #f5576e;
}

.c-form__label {
  line-height: 3.6rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20rem;
          flex: 0 1 20rem;
}

.c-form__label small {
  color: #adb5bd;
}

.c-form__control {
  border: 1px solid #e9ecef;
  border-radius: 0.4rem;
  height: 3.6rem;
  padding: 0 0.5em;
  line-height: 1;
  width: 100%;
}

@media (min-width: 768px) {
  .c-form__control {
    width: 70%;
  }
  .c-form--horizontal .c-form__control {
    width: 100%;
  }
}

.c-form textarea.c-form__control {
  min-height: 20rem;
  padding: 0.5em;
  height: auto;
}

.c-form__message {
  padding-left: 20rem;
  font-size: 1.2rem;
}

.c-form--horizontal {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-form--horizontal .c-form__group {
  margin: 0 0.5em;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.c-form--horizontal .c-form__group:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.o-input--file {
  position: absolute;
  overflow: hidden;
  height: 0.1px;
  width: 0.1px;
  z-index: -1;
  opacity: 0;
}

.o-input--file + .c-file__chooser {
  font-family: 'BOG 2017 Headline', 'Arial', sans-serif;
  border: 1px solid #e9ecef;
  border-radius: 0.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.6rem;
  color: #2d2a37;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (min-width: 768px) {
  .o-input--file + .c-file__chooser {
    width: 70%;
  }
}

.o-input--file + .c-file__chooser * {
  pointer-events: none;
}

.o-input--file:focus + .c-file__chooser,
.o-input--file + .c-file__chooser:hover {
  background-color: #e9ecef;
}

.o-input--file:focus + .c-file__chooser {
  -webkit-box-shadow: 0 0 0 0.3rem rgba(233, 236, 239, 0.5);
          box-shadow: 0 0 0 0.3rem rgba(233, 236, 239, 0.5);
  outline: none;
}

.c-checkbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-checkbox span {
  padding-left: 0.5em;
}

.c-option__group {
  font-weight: bold;
}

.c-option__child {
  padding-left: 1em;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 2em 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
}

.pagination li {
  margin: 0 0.25em;
}

.pagination li a, .pagination li span {
  border: 1px solid #e9ecef;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 50%;
  text-align: center;
  color: #2d2a37;
  line-height: 2.4;
  display: block;
  height: 2.5em;
  width: 2.5em;
}

.pagination li a {
  border-color: #fc6719;
  color: #fc6719;
}

.pagination li a:hover {
  background-color: #fc6719;
  color: #fff;
}

.pagination li a:focus {
  -webkit-box-shadow: 0 0 0 0.3rem rgba(252, 103, 25, 0.5);
          box-shadow: 0 0 0 0.3rem rgba(252, 103, 25, 0.5);
}

.pagination li.active span {
  background-color: #fc6719;
  border-color: #fc6719;
  color: #fff;
}

.pagination li:first-child a, .pagination li:first-child span, .pagination li:last-child a, .pagination li:last-child span {
  line-height: 2.25;
}

.c-products {
  margin-top: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-products__filters {
  border-right: 1px solid #f5f4f2;
  padding-right: 3.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24rem;
          flex: 0 1 24rem;
}

.c-products__content {
  padding-left: 3.5rem;
  margin-top: -10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.c-products__pagination .page-item .page-link {
  border-color: #ebebeb;
  color: #959595;
}

.c-products__pagination .page-item .page-link:hover {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

.c-products__pagination .page-item:first-child .page-link, .c-products__pagination .page-item:last-child .page-link {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

.c-products__pagination .page-item.active .page-link {
  background-color: #fc6719;
  border-color: #fc6719;
  color: #fff;
}

.tingle-modal * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tingle-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.tingle-modal--confirm .tingle-modal-box {
  text-align: center;
}

.tingle-modal--noOverlayClose {
  cursor: default;
}

.tingle-modal--noClose .tingle-modal__close {
  display: none;
}

.tingle-modal__close {
  position: fixed;
  top: 10px;
  right: 28px;
  z-index: 1000;
  padding: 0;
  width: 5rem;
  height: 5rem;
  border: none;
  background-color: transparent;
  color: #f0f0f0;
  font-size: 6rem;
  font-family: monospace;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.tingle-modal__closeLabel {
  display: none;
}

.tingle-modal__close:hover {
  color: #fff;
}

.tingle-modal-box {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 400px;
  width: 50%;
  border-radius: 4px;
  background: #fff;
  opacity: 1;
  cursor: auto;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.tingle-modal-box__content {
  padding: 3rem 3rem;
}

.tingle-modal-box__footer {
  padding: 1.5rem 2rem;
  width: auto;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f5f5f5;
  cursor: auto;
}

.tingle-modal-box__footer::after {
  display: table;
  clear: both;
  content: "";
}

.tingle-modal-box__footer--sticky {
  position: fixed;
  bottom: -200px;
  z-index: 10001;
  opacity: 1;
  -webkit-transition: bottom .3s ease-in-out .3s;
  transition: bottom .3s ease-in-out .3s;
}

.tingle-enabled {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.tingle-modal--visible .tingle-modal-box__footer {
  bottom: 0;
}

.tingle-enabled .tingle-content-wrapper {
  -webkit-filter: blur(12px);
          filter: blur(12px);
}

.tingle-modal--visible {
  visibility: visible;
  opacity: 1;
}

.tingle-modal--visible .tingle-modal-box {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.tingle-modal--overflow {
  overflow-y: scroll;
  padding-top: 8vh;
}

.tingle-btn {
  display: inline-block;
  margin: 0 .5rem;
  padding: 1rem 2rem;
  border: none;
  background-color: grey;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.tingle-btn:focus {
  outline: none;
}

.tingle-btn--primary {
  background-color: #fc6719;
}

.tingle-btn--danger {
  background-color: #e74c3c;
}

.tingle-btn--default {
  background-color: #adb5bd;
}

.tingle-btn--pull-left {
  float: left;
}

.tingle-btn--pull-right {
  float: right;
}

@media (max-width: 540px) {
  .tingle-modal {
    top: 0;
    display: block;
    padding-top: 60px;
    width: 100%;
  }
  .tingle-modal-box {
    width: auto;
    border-radius: 0;
  }
  .tingle-modal-box__content {
    overflow-y: scroll;
  }
  .tingle-modal--noClose {
    top: 0;
  }
  .tingle-modal--noOverlayClose {
    padding-top: 0;
  }
  .tingle-modal-box__footer .tingle-btn {
    display: block;
    float: none;
    margin-bottom: 1rem;
    width: 100%;
  }
  .tingle-modal__close {
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #2c3e50;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff;
    line-height: 55px;
  }
  .tingle-modal__closeLabel {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  .tingle-modal__closeIcon {
    display: inline-block;
    margin-right: .5rem;
    vertical-align: middle;
    font-size: 4rem;
  }
}

@supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
  .tingle-modal {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  @media (max-width: 540px) {
    .tingle-modal {
      -webkit-backdrop-filter: blur(8px);
              backdrop-filter: blur(8px);
    }
  }
  .tingle-enabled .tingle-content-wrapper {
    -webkit-filter: none;
            filter: none;
  }
}

@-webkit-keyframes fadeinup {
  0% {
    bottom: -15px;
    max-height: 0;
    margin-top: 0;
    max-width: 0;
    opacity: 0;
  }
  30% {
    opacity: 0.8;
    bottom: -3px;
  }
  100% {
    max-height: 200px;
    margin-top: 12px;
    max-width: 400px;
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fadeinup {
  0% {
    bottom: -15px;
    max-height: 0;
    margin-top: 0;
    max-width: 0;
    opacity: 0;
  }
  30% {
    opacity: 0.8;
    bottom: -3px;
  }
  100% {
    max-height: 200px;
    margin-top: 12px;
    max-width: 400px;
    opacity: 1;
    bottom: 0;
  }
}

@-webkit-keyframes fadeoutdown {
  0% {
    opacity: 1;
    bottom: 0;
  }
  30% {
    opacity: 0.2;
    bottom: -3px;
  }
  100% {
    bottom: -15px;
    opacity: 0;
  }
}

@keyframes fadeoutdown {
  0% {
    opacity: 1;
    bottom: 0;
  }
  30% {
    opacity: 0.2;
    bottom: -3px;
  }
  100% {
    bottom: -15px;
    opacity: 0;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.6;
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.notyf__icon--alert, .notyf__icon--confirm {
  position: relative;
  border-radius: 50%;
  background: #fff;
  display: block;
  margin: 0 auto;
  height: 21px;
  width: 21px;
}

.notyf__icon--alert:after, .notyf__icon--alert:before {
  background: #f5576e;
  position: absolute;
  border-radius: 3px;
  display: block;
  content: "";
  width: 3px;
  left: 9px;
}

.notyf__icon--alert:after {
  height: 3px;
  top: 14px;
}

.notyf__icon--alert:before {
  height: 8px;
  top: 4px;
}

.notyf__icon--confirm:after, .notyf__icon--confirm:before {
  background: #69bf4a;
  position: absolute;
  border-radius: 3px;
  display: block;
  content: "";
  width: 3px;
}

.notyf__icon--confirm:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 6px;
  left: 6px;
  top: 9px;
}

.notyf__icon--confirm:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 11px;
  left: 10px;
  top: 5px;
}

.notyf__toast {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
  -webkit-animation: fadeinup 0.3s forwards;
          animation: fadeinup 0.3s forwards;
  padding-right: 13px;
  position: relative;
  overflow: hidden;
  display: block;
}

.notyf__toast.notyf--alert {
  background: #f5576e;
}

.notyf__toast.notyf--confirm {
  background: #69bf4a;
}

.notyf__toast.notyf--disappear {
  -webkit-animation: fadeoutdown 0.3s 1 forwards;
          animation: fadeoutdown 0.3s 1 forwards;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.notyf__toast.notyf--disappear .notyf__message {
  -webkit-animation: fadeoutdown 0.3s 1 forwards;
          animation: fadeoutdown 0.3s 1 forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  opacity: 1;
}

.notyf__toast.notyf--disappear .notyf__icon {
  -webkit-animation: disappear 0.3s 1 forwards;
          animation: disappear 0.3s 1 forwards;
  opacity: 1;
}

.notyf__wrapper {
  padding-bottom: 20px;
  padding-right: 15px;
  border-radius: 3px;
  padding-top: 20px;
  display: table;
  width: 100%;
}

.notyf__icon {
  -webkit-animation: appear 0.5s forwards;
          animation: appear 0.5s forwards;
  vertical-align: middle;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  display: table-cell;
  text-align: center;
  font-size: 1.3em;
  opacity: 0;
  width: 20%;
}

.notyf__message {
  -webkit-animation: fadeinup 0.3s forwards;
          animation: fadeinup 0.3s forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  opacity: 0;
  width: 80%;
}

.notyf {
  width: calc(100% - 60px);
  position: fixed;
  z-index: 9999;
  color: #fff;
  bottom: 20px;
  right: 30px;
}

@media (min-width: 480px) {
  .notyf {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .notyf {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .notyf {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .notyf {
    width: 20%;
  }
}

@media only screen and (max-width: 736px) {
  .notyf__container {
    margin: 0 auto;
    display: block;
    width: 90%;
    right: 0;
    left: 0;
  }
}

.c-details__header {
  font-size: 1.2rem;
  padding: 4.4rem 0;
}

.c-details__header a {
  color: #a2a2a2;
}

.c-details__header a .icon {
  margin-right: 1.5rem;
}

.c-details__header a:hover {
  text-decoration: none;
  color: #fc6719;
}

.c-details__title {
  font-family: 'BOG 2017 Headline', sans-serif;
  padding: 3.5rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  color: #535353;
  margin: 0;
}

.c-details__related {
  border-top: 1px solid #f1f1f1;
  padding-bottom: 7rem;
  margin-top: 5rem;
}

.c-footer {
  background-color: #f5f4f2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 13rem;
          flex: 0 1 13rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-footer > *:first-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .c-footer > *:first-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.c-footer .c-logo {
  display: none;
}

@media (min-width: 992px) {
  .c-footer .c-logo {
    display: block;
  }
}

.c-footer--small {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5rem;
          flex: 0 1 5rem;
}

.c-footer--small > *:first-child {
  height: 5rem;
}

.c-footer__list {
  list-style-type: none;
  margin-bottom: 1em;
  text-align: center;
  width: 100%;
  padding: 0;
}

@media (min-width: 768px) {
  .c-footer__list {
    margin-right: 3rem;
    text-align: right;
    margin-bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: auto;
  }
}

.c-footer__item {
  margin-left: 2.5rem;
  display: inline-block;
}

.c-footer__link {
  font-size: 1.4rem;
  white-space: nowrap;
  font-weight: 600;
  color: #7a7485;
}

.c-footer__link:hover {
  text-decoration: none;
  color: #000;
}

.c-footer__link span {
  display: none;
}

@media (min-width: 992px) {
  .c-footer__link span {
    display: inline;
  }
}

.c-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .c-footer__info {
    border-left: 1px solid #eaeaea;
    padding-left: 2rem;
    display: inline-block;
  }
}

.c-footer__info a {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fc6719;
}

.c-footer__info span {
  padding-right: 0.8em;
  font-size: 1.4rem;
  position: relative;
  font-weight: 600;
  color: #000;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.c-footer__info span:after {
  position: absolute;
  display: block;
  content: ':';
  right: 0.5em;
  top: 0;
}

@media (min-width: 768px) {
  .c-footer__info span:after {
    display: none;
  }
}

@media (min-width: 768px) {
  .c-footer__info > * {
    display: block;
  }
}

.c-slider {
  background-color: #fcbf88;
  background: -webkit-gradient(linear, left top, right top, from(#f9c98a), to(#ffb485));
  background: linear-gradient(to right, #f9c98a, #ffb485);
}

.slick-slider {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  touch-action: pan-y;
  position: relative;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: block;
  left: 0;
  top: 0;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  min-height: 1px;
  display: none;
  height: 100%;
  float: left;
}

.slick-slide img {
  display: block;
  width: 1300px;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  border: 1px solid transparent;
  display: block;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  background-color: transparent;
  display: inline-block;
  border-color: #fff;
  font-size: 3.2rem;
  position: absolute;
  color: #fff;
  z-index: 99;
}

.slick-arrow:hover {
  background-color: #fff;
  color: #fc6719;
}

.slick-arrow.slick-dark {
  background-color: #2d2a37;
  border-color: #2d2a37;
}

.slick-arrow.slick-dark.slick-prev {
  top: calc(50% - 50px);
  left: 0.5em;
  right: auto;
}

.slick-arrow.slick-dark.slick-next {
  top: calc(50% - 50px);
  right: 0.5em;
}

@media (min-width: 1080px) {
  .slick-arrow.slick-dark.slick-next {
    right: calc((100vw - 1080px) / 2 - 1rem);
  }
}

.slick-arrow.slick-disabled {
  display: none !important;
}

.slick-dots {
  width: calc(100% - 130px);
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 5rem;
  height: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  left: 0;
}

.slick-dots:before {
  background-color: rgba(255, 255, 255, 0.32);
  vertical-align: middle;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  content: '';
  height: 1px;
  left: 0;
}

.slick-dots li {
  vertical-align: middle;
  margin-left: 1.5rem;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 0.6rem;
          flex: 0 1 0.6rem;
  height: 0.6rem;
}

.slick-dots li button {
  background-color: rgba(255, 255, 255, 0.32);
  text-indent: -9999px;
  border-radius: 50%;
  height: 0.6rem;
  width: 0.6rem;
  cursor: pointer;
  border: 0 none;
  padding: 0;
}

.slick-dots li button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.slick-dots li button:focus {
  outline: none;
}

.slick-dots li.slick-active button {
  background-color: #fff;
}

.slick-next {
  bottom: 5rem;
  right: 0;
}

.slick-prev {
  bottom: 5rem;
  right: 5.8rem;
}

/**
 * Trumbowyg v2.9.4 - A lightweight WYSIWYG editor
 * Default stylesheet for Trumbowyg editor
 * ------------------------
 * @link http://alex-d.github.io/Trumbowyg
 * @license MIT
 * @author Alexandre Demode (Alex-D)
 *         Twitter : @AlexandreDemode
 *         Website : alex-d.fr
 */
#trumbowyg-icons {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  width: 0;
}

#trumbowyg-icons svg {
  height: 0;
  width: 0;
}

.trumbowyg-box *,
.trumbowyg-box *::before,
.trumbowyg-box *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.trumbowyg-box svg {
  width: 17px;
  height: 100%;
  fill: #222;
}

.trumbowyg-box,
.trumbowyg-editor {
  display: block;
  position: relative;
  border: 1px solid #DDD;
  width: 100%;
  min-height: 300px;
  margin: 17px auto;
}

.trumbowyg-box .trumbowyg-editor {
  margin: 0 auto;
}

.trumbowyg-box.trumbowyg-fullscreen {
  background: #FEFEFE;
  border: none !important;
}

.trumbowyg-editor,
.trumbowyg-textarea {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  min-height: 300px;
  width: 100%;
  border-style: none;
  resize: none;
  outline: none;
  overflow: auto;
}

.trumbowyg-editor.trumbowyg-autogrow-on-enter,
.trumbowyg-textarea.trumbowyg-autogrow-on-enter {
  -webkit-transition: height 300ms ease-out;
  transition: height 300ms ease-out;
}

.trumbowyg-box-blur .trumbowyg-editor *, .trumbowyg-box-blur .trumbowyg-editor::before {
  color: transparent !important;
  text-shadow: 0 0 7px #333;
}

@media screen and (min-width: 0 \0) {
  .trumbowyg-box-blur .trumbowyg-editor *, .trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(200, 200, 200, 0.6) !important;
  }
}

@supports (-ms-accelerator: true) {
  .trumbowyg-box-blur .trumbowyg-editor *, .trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(200, 200, 200, 0.6) !important;
  }
}

.trumbowyg-box-blur .trumbowyg-editor img,
.trumbowyg-box-blur .trumbowyg-editor hr {
  opacity: 0.2;
}

.trumbowyg-textarea {
  position: relative;
  display: block;
  overflow: auto;
  border: none;
  font-size: 14px;
  font-family: "Inconsolata", "Consolas", "Courier", "Courier New", sans-serif;
  line-height: 18px;
}

.trumbowyg-box.trumbowyg-editor-visible .trumbowyg-textarea {
  height: 1px !important;
  width: 25%;
  min-height: 0 !important;
  padding: 0 !important;
  background: none;
  opacity: 0 !important;
}

.trumbowyg-box.trumbowyg-editor-hidden .trumbowyg-textarea {
  display: block;
}

.trumbowyg-box.trumbowyg-editor-hidden .trumbowyg-editor {
  display: none;
}

.trumbowyg-box.trumbowyg-disabled .trumbowyg-textarea {
  opacity: 0.8;
  background: none;
}

.trumbowyg-editor[contenteditable=true]:empty:not(:focus)::before {
  content: attr(placeholder);
  color: #999;
  pointer-events: none;
}

.trumbowyg-button-pane {
  width: 100%;
  min-height: 36px;
  background: #ecf0f1;
  border-bottom: 1px solid #d7e0e2;
  margin: 0;
  padding: 0 5px;
  position: relative;
  list-style-type: none;
  line-height: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 11;
}

.trumbowyg-button-pane::after {
  content: " ";
  display: block;
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #d7e0e2;
}

.trumbowyg-button-pane .trumbowyg-button-group {
  display: inline-block;
}

.trumbowyg-button-pane .trumbowyg-button-group .trumbowyg-fullscreen-button svg {
  color: transparent;
}

.trumbowyg-button-pane .trumbowyg-button-group + .trumbowyg-button-group::before {
  content: " ";
  display: inline-block;
  width: 1px;
  background: #d7e0e2;
  margin: 0 5px;
  height: 35px;
  vertical-align: top;
}

.trumbowyg-button-pane button {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  padding: 1px 6px !important;
  margin-bottom: 1px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background: none;
  vertical-align: middle;
  -webkit-transition: background-color 150ms, opacity 150ms;
  transition: background-color 150ms, opacity 150ms;
}

.trumbowyg-button-pane button.trumbowyg-textual-button {
  width: auto;
  line-height: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.trumbowyg-button-pane.trumbowyg-disable button:not(.trumbowyg-not-disable):not(.trumbowyg-active),
.trumbowyg-disabled .trumbowyg-button-pane button:not(.trumbowyg-not-disable):not(.trumbowyg-viewHTML-button) {
  opacity: 0.2;
  cursor: default;
}

.trumbowyg-button-pane.trumbowyg-disable .trumbowyg-button-group::before,
.trumbowyg-disabled .trumbowyg-button-pane .trumbowyg-button-group::before {
  background: #e3e9eb;
}

.trumbowyg-button-pane button:not(.trumbowyg-disable):hover,
.trumbowyg-button-pane button:not(.trumbowyg-disable):focus,
.trumbowyg-button-pane button.trumbowyg-active {
  background-color: #FFF;
  outline: none;
}

.trumbowyg-button-pane .trumbowyg-open-dropdown::after {
  display: block;
  content: " ";
  position: absolute;
  top: 25px;
  right: 3px;
  height: 0;
  width: 0;
  border: 3px solid transparent;
  border-top-color: #555;
}

.trumbowyg-button-pane .trumbowyg-open-dropdown.trumbowyg-textual-button {
  padding-left: 10px !important;
  padding-right: 18px !important;
}

.trumbowyg-button-pane .trumbowyg-open-dropdown.trumbowyg-textual-button::after {
  top: 17px;
  right: 7px;
}

.trumbowyg-button-pane .trumbowyg-right {
  float: right;
}

.trumbowyg-button-pane .trumbowyg-right::before {
  display: none !important;
}

.trumbowyg-dropdown {
  width: 200px;
  border: 1px solid #ecf0f1;
  padding: 5px 0;
  border-top: none;
  background: #FFF;
  margin-left: -1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px;
  z-index: 12;
}

.trumbowyg-dropdown button {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  background: #FFF;
  padding: 0 10px;
  color: #333 !important;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.trumbowyg-dropdown button:hover, .trumbowyg-dropdown button:focus {
  background: #ecf0f1;
}

.trumbowyg-dropdown button svg {
  float: left;
  margin-right: 14px;
}

/* Modal box */
.trumbowyg-modal {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 520px;
  width: 100%;
  height: 350px;
  z-index: 12;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.trumbowyg-modal-box {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 500px;
  width: calc(100% - 20px);
  padding-bottom: 45px;
  z-index: 1;
  background-color: #FFF;
  text-align: center;
  font-size: 14px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.trumbowyg-modal-box .trumbowyg-modal-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 15px 0 13px;
  display: block;
  border-bottom: 1px solid #EEE;
  color: #333;
  background: #fbfcfc;
}

.trumbowyg-modal-box .trumbowyg-progress {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 58px;
}

.trumbowyg-modal-box .trumbowyg-progress .trumbowyg-progress-bar {
  background: #2BC06A;
  width: 0;
  height: 100%;
  -webkit-transition: width 150ms linear;
  transition: width 150ms linear;
}

.trumbowyg-modal-box label {
  display: block;
  position: relative;
  margin: 15px 12px;
  height: 29px;
  line-height: 29px;
  overflow: hidden;
}

.trumbowyg-modal-box label .trumbowyg-input-infos {
  display: block;
  text-align: left;
  height: 25px;
  line-height: 25px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.trumbowyg-modal-box label .trumbowyg-input-infos span {
  display: block;
  color: #69878f;
  background-color: #fbfcfc;
  border: 1px solid #DEDEDE;
  padding: 0 7px;
  width: 150px;
}

.trumbowyg-modal-box label .trumbowyg-input-infos span.trumbowyg-msg-error {
  color: #e74c3c;
}

.trumbowyg-modal-box label.trumbowyg-input-error input,
.trumbowyg-modal-box label.trumbowyg-input-error textarea {
  border: 1px solid #e74c3c;
}

.trumbowyg-modal-box label.trumbowyg-input-error .trumbowyg-input-infos {
  margin-top: -27px;
}

.trumbowyg-modal-box label input {
  position: absolute;
  top: 0;
  right: 0;
  height: 27px;
  line-height: 27px;
  border: 1px solid #DEDEDE;
  background: #fff;
  font-size: 14px;
  max-width: 330px;
  width: 70%;
  padding: 0 7px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.trumbowyg-modal-box label input:hover, .trumbowyg-modal-box label input:focus {
  outline: none;
  border: 1px solid #95a5a6;
}

.trumbowyg-modal-box label input:focus {
  background: #fbfcfc;
}

.trumbowyg-modal-box .error {
  margin-top: 25px;
  display: block;
  color: red;
}

.trumbowyg-modal-box .trumbowyg-modal-button {
  position: absolute;
  bottom: 10px;
  right: 0;
  text-decoration: none;
  color: #FFF;
  display: block;
  width: 100px;
  height: 35px;
  line-height: 33px;
  margin: 0 10px;
  background-color: #333;
  border: none;
  cursor: pointer;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif;
  font-size: 16px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit {
  right: 110px;
  background: #2bc06a;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:hover, .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:focus {
  background: #40d47e;
  outline: none;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:active {
  background: #25a25a;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset {
  color: #555;
  background: #e6e6e6;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:hover, .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:focus {
  background: #fbfbfb;
  outline: none;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:active {
  background: #d5d4d4;
}

.trumbowyg-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  display: none;
  top: 0;
  z-index: 10;
}

/**
 * Fullscreen
 */
body.trumbowyg-body-fullscreen {
  overflow: hidden;
}

.trumbowyg-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 99999;
}

.trumbowyg-fullscreen.trumbowyg-box,
.trumbowyg-fullscreen .trumbowyg-editor {
  border: none;
}

.trumbowyg-fullscreen .trumbowyg-editor,
.trumbowyg-fullscreen .trumbowyg-textarea {
  height: calc(100% - 37px) !important;
  overflow: auto;
}

.trumbowyg-fullscreen .trumbowyg-overlay {
  height: 100% !important;
}

.trumbowyg-fullscreen .trumbowyg-button-group .trumbowyg-fullscreen-button svg {
  color: #222;
  fill: transparent;
}

.trumbowyg-editor {
  /*
     * lset for resetCss option
     */
}

.trumbowyg-editor object,
.trumbowyg-editor embed,
.trumbowyg-editor video,
.trumbowyg-editor img {
  max-width: 100%;
}

.trumbowyg-editor video,
.trumbowyg-editor img {
  height: auto;
}

.trumbowyg-editor img {
  cursor: move;
}

.trumbowyg-editor.trumbowyg-reset-css {
  background: #FEFEFE !important;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
  font-size: 14px !important;
  line-height: 1.45em !important;
  color: #333;
}

.trumbowyg-editor.trumbowyg-reset-css a {
  color: #15c !important;
  text-decoration: underline !important;
}

.trumbowyg-editor.trumbowyg-reset-css div,
.trumbowyg-editor.trumbowyg-reset-css p,
.trumbowyg-editor.trumbowyg-reset-css ul,
.trumbowyg-editor.trumbowyg-reset-css ol,
.trumbowyg-editor.trumbowyg-reset-css blockquote {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: none !important;
  margin: 0 !important;
  margin-bottom: 15px !important;
  line-height: 1.4em !important;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
  font-size: 14px !important;
  border: none;
}

.trumbowyg-editor.trumbowyg-reset-css iframe,
.trumbowyg-editor.trumbowyg-reset-css object,
.trumbowyg-editor.trumbowyg-reset-css hr {
  margin-bottom: 15px !important;
}

.trumbowyg-editor.trumbowyg-reset-css blockquote {
  margin-left: 32px !important;
  font-style: italic !important;
  color: #555;
}

.trumbowyg-editor.trumbowyg-reset-css ul,
.trumbowyg-editor.trumbowyg-reset-css ol {
  padding-left: 20px !important;
}

.trumbowyg-editor.trumbowyg-reset-css ul ul,
.trumbowyg-editor.trumbowyg-reset-css ol ol,
.trumbowyg-editor.trumbowyg-reset-css ul ol,
.trumbowyg-editor.trumbowyg-reset-css ol ul {
  border: none;
  margin: 2px !important;
  padding: 0 !important;
  padding-left: 24px !important;
}

.trumbowyg-editor.trumbowyg-reset-css hr {
  display: block;
  height: 1px;
  border: none;
  border-top: 1px solid #CCC;
}

.trumbowyg-editor.trumbowyg-reset-css h1,
.trumbowyg-editor.trumbowyg-reset-css h2,
.trumbowyg-editor.trumbowyg-reset-css h3,
.trumbowyg-editor.trumbowyg-reset-css h4 {
  color: #111;
  background: none;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: bold;
}

.trumbowyg-editor.trumbowyg-reset-css h1 {
  font-size: 32px !important;
  line-height: 38px !important;
  margin-bottom: 20px !important;
}

.trumbowyg-editor.trumbowyg-reset-css h2 {
  font-size: 26px !important;
  line-height: 34px !important;
  margin-bottom: 15px !important;
}

.trumbowyg-editor.trumbowyg-reset-css h3 {
  font-size: 22px !important;
  line-height: 28px !important;
  margin-bottom: 7px !important;
}

.trumbowyg-editor.trumbowyg-reset-css h4 {
  font-size: 16px !important;
  line-height: 22px !important;
  margin-bottom: 7px !important;
}

/*
 * Dark theme
 */
.trumbowyg-dark .trumbowyg-textarea {
  background: #111;
  color: #ddd;
}

.trumbowyg-dark .trumbowyg-box {
  border: 1px solid #343434;
}

.trumbowyg-dark .trumbowyg-box.trumbowyg-fullscreen {
  background: #111;
}

.trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor *, .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor::before {
  text-shadow: 0 0 7px #ccc;
}

@media screen and (min-width: 0 \0 ) {
  .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor *, .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(20, 20, 20, 0.6) !important;
  }
}

@supports (-ms-accelerator: true) {
  .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor *, .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(20, 20, 20, 0.6) !important;
  }
}

.trumbowyg-dark .trumbowyg-box svg {
  fill: #ecf0f1;
  color: #ecf0f1;
}

.trumbowyg-dark .trumbowyg-button-pane {
  background-color: #222;
  border-bottom-color: #343434;
}

.trumbowyg-dark .trumbowyg-button-pane::after {
  background: #343434;
}

.trumbowyg-dark .trumbowyg-button-pane .trumbowyg-button-group:not(:empty)::before {
  background-color: #343434;
}

.trumbowyg-dark .trumbowyg-button-pane .trumbowyg-button-group:not(:empty) .trumbowyg-fullscreen-button svg {
  color: transparent;
}

.trumbowyg-dark .trumbowyg-button-pane.trumbowyg-disable .trumbowyg-button-group::before {
  background-color: #2a2a2a;
}

.trumbowyg-dark .trumbowyg-button-pane button:not(.trumbowyg-disable):hover,
.trumbowyg-dark .trumbowyg-button-pane button:not(.trumbowyg-disable):focus,
.trumbowyg-dark .trumbowyg-button-pane button.trumbowyg-active {
  background-color: #333;
}

.trumbowyg-dark .trumbowyg-button-pane .trumbowyg-open-dropdown::after {
  border-top-color: #fff;
}

.trumbowyg-dark .trumbowyg-fullscreen .trumbowyg-button-group .trumbowyg-fullscreen-button svg {
  color: #ecf0f1;
  fill: transparent;
}

.trumbowyg-dark .trumbowyg-dropdown {
  border-color: #222;
  background: #333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
          box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
}

.trumbowyg-dark .trumbowyg-dropdown button {
  background: #333;
  color: #fff !important;
}

.trumbowyg-dark .trumbowyg-dropdown button:hover, .trumbowyg-dark .trumbowyg-dropdown button:focus {
  background: #222;
}

.trumbowyg-dark .trumbowyg-modal-box {
  background-color: #222;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-title {
  border-bottom: 1px solid #555;
  color: #fff;
  background: #3c3b3b;
}

.trumbowyg-dark .trumbowyg-modal-box label {
  display: block;
  position: relative;
  margin: 15px 12px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
}

.trumbowyg-dark .trumbowyg-modal-box label .trumbowyg-input-infos span {
  color: #eee;
  background-color: #2f2f2f;
  border-color: #222;
}

.trumbowyg-dark .trumbowyg-modal-box label .trumbowyg-input-infos span.trumbowyg-msg-error {
  color: #e74c3c;
}

.trumbowyg-dark .trumbowyg-modal-box label.trumbowyg-input-error input,
.trumbowyg-dark .trumbowyg-modal-box label.trumbowyg-input-error textarea {
  border-color: #e74c3c;
}

.trumbowyg-dark .trumbowyg-modal-box label input {
  border-color: #222;
  color: #eee;
  background: #333;
}

.trumbowyg-dark .trumbowyg-modal-box label input:hover, .trumbowyg-dark .trumbowyg-modal-box label input:focus {
  border-color: #626262;
}

.trumbowyg-dark .trumbowyg-modal-box label input:focus {
  background-color: #2f2f2f;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit {
  background: #1b7943;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:hover, .trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:focus {
  background: #25a25a;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:active {
  background: #176437;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset {
  background: #333;
  color: #ccc;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:hover, .trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:focus {
  background: #444;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:active {
  background: #111;
}

.trumbowyg-dark .trumbowyg-overlay {
  background-color: rgba(15, 15, 15, 0.6);
}

.trumbowyg-box {
  border: 1px solid #e9ecef;
  border-radius: 0.4rem;
  margin: 0;
}

@media (min-width: 768px) {
  .trumbowyg-box {
    width: 70%;
  }
}

.vue-geokbd--statusMessage {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 .2em .2em;
  margin-left: -15rem;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30rem;
  height: 4rem;
  position: fixed;
  display: none;
  z-index: 999;
  left: 50%;
  top: 0;
}

.vue-geokbd--statusMessage.visible {
  -webkit-animation-name: geokbdDown;
          animation-name: geokbdDown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vue-geokbd--statusMessage.hidden {
  -webkit-animation-name: geokbdUp;
          animation-name: geokbdUp;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vue-geokbd--statusMessage-text {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
}

@-webkit-keyframes geokbdDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes geokbdDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes geokbdUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: hidden;
  }
}

@keyframes geokbdUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: hidden;
  }
}

.u-text--muted {
  color: #adb5bd;
}

.u-text--danger {
  font-size: 1.4rem;
  text-align: center;
  color: #f5576e;
}

.u-text--center {
  text-align: center;
}

.u-text--right {
  text-align: right;
}

.u-text--uppercase {
  font-family: 'BOG 2017 Headline', sans-serif;
  text-transform: uppercase;
}

.u-clearfix:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.u-hidden, .is-hidden {
  display: none !important;
}

.u-h1 {
  font-size: 0.25rem;
}

.u-h2 {
  font-size: 0.2rem;
}

.u-h3 {
  font-size: 0.175rem;
}

.u-h4 {
  font-size: 0.15rem;
}

.u-h5 {
  font-size: 0.125rem;
}

.u-h6 {
  font-size: 0.1rem;
}

.u-p-0 {
  padding: 0 !important;
}

.u-p-1 {
  padding: 1em !important;
}

.u-p-2 {
  padding: 2em !important;
}

.u-p-3 {
  padding: 3em !important;
}

.u-p-4 {
  padding: 4em !important;
}

.u-p-5 {
  padding: 5em !important;
}

.u-py-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.u-py-1 {
  padding-bottom: 1em !important;
  padding-top: 1em !important;
}

.u-py-2 {
  padding-bottom: 2em !important;
  padding-top: 2em !important;
}

.u-py-3 {
  padding-bottom: 3em !important;
  padding-top: 3em !important;
}

.u-py-4 {
  padding-bottom: 4em !important;
  padding-top: 4em !important;
}

.u-py-5 {
  padding-bottom: 5em !important;
  padding-top: 5em !important;
}

.u-px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.u-px-1 {
  padding-right: 1em !important;
  padding-left: 1em !important;
}

.u-px-2 {
  padding-right: 2em !important;
  padding-left: 2em !important;
}

.u-px-3 {
  padding-right: 3em !important;
  padding-left: 3em !important;
}

.u-px-4 {
  padding-right: 4em !important;
  padding-left: 4em !important;
}

.u-px-5 {
  padding-right: 5em !important;
  padding-left: 5em !important;
}

.u-pt-0 {
  padding-top: 0 !important;
}

.u-pt-1 {
  padding-top: 1em !important;
}

.u-pt-2 {
  padding-top: 2em !important;
}

.u-pt-3 {
  padding-top: 3em !important;
}

.u-pt-4 {
  padding-top: 4em !important;
}

.u-pt-5 {
  padding-top: 5em !important;
}

.u-pb-0 {
  padding-bottom: 0 !important;
}

.u-pb-1 {
  padding-bottom: 1em !important;
}

.u-pb-2 {
  padding-bottom: 2em !important;
}

.u-pb-3 {
  padding-bottom: 3em !important;
}

.u-pb-4 {
  padding-bottom: 4em !important;
}

.u-pb-5 {
  padding-bottom: 5em !important;
}

.u-pl-0 {
  padding-left: 0 !important;
}

.u-pl-1 {
  padding-left: 1em !important;
}

.u-pl-2 {
  padding-left: 2em !important;
}

.u-pl-3 {
  padding-left: 3em !important;
}

.u-pl-4 {
  padding-left: 4em !important;
}

.u-pl-5 {
  padding-left: 5em !important;
}

.u-pr-0 {
  padding-right: 0 !important;
}

.u-pr-1 {
  padding-right: 1em !important;
}

.u-pr-2 {
  padding-right: 2em !important;
}

.u-pr-3 {
  padding-right: 3em !important;
}

.u-pr-4 {
  padding-right: 4em !important;
}

.u-pr-5 {
  padding-right: 5em !important;
}

.u-m-0 {
  margin: 0 !important;
}

.u-m-1 {
  margin: 1em !important;
}

.u-m-2 {
  margin: 2em !important;
}

.u-m-3 {
  margin: 3em !important;
}

.u-m-4 {
  margin: 4em !important;
}

.u-m-5 {
  margin: 5em !important;
}

.u-my-0 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.u-my-1 {
  margin-bottom: 1em !important;
  margin-top: 1em !important;
}

.u-my-2 {
  margin-bottom: 2em !important;
  margin-top: 2em !important;
}

.u-my-3 {
  margin-bottom: 3em !important;
  margin-top: 3em !important;
}

.u-my-4 {
  margin-bottom: 4em !important;
  margin-top: 4em !important;
}

.u-my-5 {
  margin-bottom: 5em !important;
  margin-top: 5em !important;
}

.u-mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.u-mx-1 {
  margin-right: 1em !important;
  margin-left: 1em !important;
}

.u-mx-2 {
  margin-right: 2em !important;
  margin-left: 2em !important;
}

.u-mx-3 {
  margin-right: 3em !important;
  margin-left: 3em !important;
}

.u-mx-4 {
  margin-right: 4em !important;
  margin-left: 4em !important;
}

.u-mx-5 {
  margin-right: 5em !important;
  margin-left: 5em !important;
}

.u-mt-0 {
  margin-top: 0 !important;
}

.u-mt-1 {
  margin-top: 1em !important;
}

.u-mt-2 {
  margin-top: 2em !important;
}

.u-mt-3 {
  margin-top: 3em !important;
}

.u-mt-4 {
  margin-top: 4em !important;
}

.u-mt-5 {
  margin-top: 5em !important;
}

.u-mb-1n {
  margin-bottom: -1px !important;
}

.u-mb-0 {
  margin-bottom: 0 !important;
}

.u-mb-1 {
  margin-bottom: 1em !important;
}

.u-mb-2 {
  margin-bottom: 2em !important;
}

.u-mb-3 {
  margin-bottom: 3em !important;
}

.u-mb-4 {
  margin-bottom: 4em !important;
}

.u-mb-5 {
  margin-bottom: 5em !important;
}

.u-ml-0 {
  margin-left: 0 !important;
}

.u-ml-1 {
  margin-left: 1em !important;
}

.u-ml-2 {
  margin-left: 2em !important;
}

.u-ml-3 {
  margin-left: 3em !important;
}

.u-ml-4 {
  margin-left: 4em !important;
}

.u-ml-5 {
  margin-left: 5em !important;
}

.u-mr-0 {
  margin-right: 0 !important;
}

.u-mr-1 {
  margin-right: 1em !important;
}

.u-mr-2 {
  margin-right: 2em !important;
}

.u-mr-3 {
  margin-right: 3em !important;
}

.u-mr-4 {
  margin-right: 4em !important;
}

.u-mr-5 {
  margin-right: 5em !important;
}

.u-text--success {
  color: #69bf4a;
}

.u-text--danger {
  color: #f5576e;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
