// Heroicons
@font-face {
  font-family: 'heroicons';
  src: url('../fonts/heroicons.eot?k7s9kq');
  src: url('../fonts/heroicons.eot?k7s9kq#iefix') format('embedded-opentype'),
       url('../fonts/heroicons.ttf?k7s9kq') format('truetype'),
       url('../fonts/heroicons.woff?k7s9kq') format('woff'),
       url('../fonts/heroicons.svg?k7s9kq#heroicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// BOG 2017
@font-face {
  font-family: 'BOG 2017';
  src: url('../fonts/BOG2017-Light.eot');
  src: url('../fonts/BOG2017-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BOG2017-Light.woff2') format('woff2'),
       url('../fonts/BOG2017-Light.woff') format('woff'),
       url('../fonts/BOG2017-Light.ttf') format('truetype'),
       url('../fonts/BOG2017-Light.svg#BOG2017-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017';
  src: url('../fonts/BOG2017-Regular.eot');
  src: url('../fonts/BOG2017-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BOG2017-Regular.woff2') format('woff2'),
       url('../fonts/BOG2017-Regular.woff') format('woff'),
       url('../fonts/BOG2017-Regular.ttf') format('truetype'),
       url('../fonts/BOG2017-Regular.svg#BOG2017-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017';
  src: url('../fonts/BOG2017-Medium.eot');
  src: url('../fonts/BOG2017-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BOG2017-Medium.woff2') format('woff2'),
       url('../fonts/BOG2017-Medium.woff') format('woff'),
       url('../fonts/BOG2017-Medium.ttf') format('truetype'),
       url('../fonts/BOG2017-Medium.svg#BOG2017-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017';
  src: url('../fonts/BOG2017-SemiBold.eot');
  src: url('../fonts/BOG2017-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BOG2017-SemiBold.woff2') format('woff2'),
       url('../fonts/BOG2017-SemiBold.woff') format('woff'),
       url('../fonts/BOG2017-SemiBold.ttf') format('truetype'),
       url('../fonts/BOG2017-SemiBold.svg#BOG2017-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017';
  src: url('../fonts/BOG2017-Bold.eot');
  src: url('../fonts/BOG2017-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BOG2017-Bold.woff2') format('woff2'),
       url('../fonts/BOG2017-Bold.woff') format('woff'),
       url('../fonts/BOG2017-Bold.ttf') format('truetype'),
       url('../fonts/BOG2017-Bold.svg#BOG2017-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

// BOG 2017 Body
@font-face {
  font-family: 'BOG 2017 Body';
  src: url('../fonts/BOG2017Body-Light.eot');
  src: url('../fonts/BOG2017Body-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BOG2017Body-Light.woff2') format('woff2'),
       url('../fonts/BOG2017Body-Light.woff') format('woff'),
       url('../fonts/BOG2017Body-Light.ttf') format('truetype'),
       url('../fonts/BOG2017Body-Light.svg#BOG2017Body-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Body';
  src: url('../fonts/BOG2017Body-Regular.eot');
  src: url('../fonts/BOG2017Body-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BOG2017Body-Regular.woff2') format('woff2'),
       url('../fonts/BOG2017Body-Regular.woff') format('woff'),
       url('../fonts/BOG2017Body-Regular.ttf') format('truetype'),
       url('../fonts/BOG2017Body-Regular.svg#BOG2017Body-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Body';
  src: url('../fonts/BOG2017Body-Bold.eot');
  src: url('../fonts/BOG2017Body-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BOG2017Body-Bold.woff2') format('woff2'),
       url('../fonts/BOG2017Body-Bold.woff') format('woff'),
       url('../fonts/BOG2017Body-Bold.ttf') format('truetype'),
       url('../fonts/BOG2017Body-Bold.svg#BOG2017Body-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

// BOG 2017 Headline
@font-face {
  font-family: 'BOG 2017 Headline';
  src: url('../fonts/BOG2017Headline-Light.eot');
  src: url('../fonts/BOG2017Headline-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BOG2017Headline-Light.woff2') format('woff2'),
       url('../fonts/BOG2017Headline-Light.woff') format('woff'),
       url('../fonts/BOG2017Headline-Light.ttf') format('truetype'),
       url('../fonts/BOG2017Headline-Light.svg#BOG2017Headline-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Headline';
  src: url('../fonts/BOG2017Headline-Regular.eot');
  src: url('../fonts/BOG2017Headline-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BOG2017Headline-Regular.woff2') format('woff2'),
       url('../fonts/BOG2017Headline-Regular.woff') format('woff'),
       url('../fonts/BOG2017Headline-Regular.ttf') format('truetype'),
       url('../fonts/BOG2017Headline-Regular.svg#BOG2017Headline-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Headline';
  src: url('../fonts/BOG2017Headline-Medium.eot');
  src: url('../fonts/BOG2017Headline-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BOG2017Headline-Medium.woff2') format('woff2'),
       url('../fonts/BOG2017Headline-Medium.woff') format('woff'),
       url('../fonts/BOG2017Headline-Medium.ttf') format('truetype'),
       url('../fonts/BOG2017Headline-Medium.svg#BOG2017Headline-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Headline';
  src: url('../fonts/BOG2017Headline-SemiBold.eot');
  src: url('../fonts/BOG2017Headline-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BOG2017Headline-SemiBold.woff2') format('woff2'),
       url('../fonts/BOG2017Headline-SemiBold.woff') format('woff'),
       url('../fonts/BOG2017Headline-SemiBold.ttf') format('truetype'),
       url('../fonts/BOG2017Headline-SemiBold.svg#BOG2017Headline-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BOG 2017 Headline';
  src: url('../fonts/BOG2017Headline-Bold.eot');
  src: url('../fonts/BOG2017Headline-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BOG2017Headline-Bold.woff2') format('woff2'),
       url('../fonts/BOG2017Headline-Bold.woff') format('woff'),
       url('../fonts/BOG2017Headline-Bold.ttf') format('truetype'),
       url('../fonts/BOG2017Headline-Bold.svg#BOG2017Headline-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
