<template>
	<div class="cart">
		<div class="cart-content">
			<cart-header :active="activeTab" @select="changeTab($event)" @reset="reset()"></cart-header>

			<cart :items="items" @update="update($event)" @remove="removeItem($event)" v-if="listActive"></cart>
			<cart-history :items="items" @remove="removeHistory($event)" v-else></cart-history>
		</div>

		<div class="cart-details" :class="{ inactive: !listActive }">
			<cart-details :items="items"></cart-details>
		</div>
	</div>
</template>

<script>
    export default {
	    data() {
            return {
                activeTab: 'list',
                items: [
                    {
                        id: 1,
                        poster: '/storage/products/0553c019e64d19e7352c8f533bcda756.png',
                        title: 'წითელი კოსტუმი',
                        slug: 'tsiteli-kostumi',
                        price: 150,
	                    fullPrice: 150,
                        maxQuantity: 5
                    }, {
                        id: 2,
                        poster: '/storage/products/d4849c6f1e6b55ceadd2cfaefbcb9103.png',
                        title: 'შავი ზედა',
                        slug: 'shavi-zeda',
                        price: 80,
                        fullPrice: 80,
                        maxQuantity: 10
                    }
                ]
            }
	    },

	    computed: {
            listActive() {
                return this.activeTab === 'list';
            }
	    },

	    methods: {
	        changeTab(tab) {
	            this.activeTab = tab;
	        },

            reset() {
                console.log('RESET');
            },

		    update(item) {
                this.items = this.items.map(product => {
                    if (product.id === item.id) {
                        return {
	                        ...product,
	                        fullPrice: product.price * item.quantity
                        };
                    }

                    return product;
                });
		    },

            removeItem(item) {
	            this.items = this.items.filter(product => product.id !== item.id);
		    },

            removeHistory(item) {
	            alert('REMOVE ITEM FROM HISTORY');
            }
	    }
    }
</script>

<style scoped lang="scss">
	@import '../../sass/tools/helpers';

	.cart {
		padding-bottom: rem(60px);
		display: flex;

		&-content {
			margin-right: rem(45px);
			flex: 1 1 auto;
		}

		&-details {
			padding-top: rem(94px);
			flex: 0 1 rem(420px);

			&.inactive {
				pointer-events: none;
				user-select: none;
				opacity: 0.5;
			}
		}
	}
</style>