<template>
	<div class="c-products">
		<div class="c-products__filters">
			<filters :categories="categories" :brands="brands" :rating="rating" @filter-changed="onFilterChange"/>
		</div>
		<!-- /.c-products__filters -->

		<div class="c-products__content">
			<latest-products :data="products"/>

			<pagination class="c-products__pagination" v-if="hasPagination" :config="pagination" @page-changed="onPageChange"/>
		</div>
		<!-- /.c-products__content -->
	</div>
</template>

<script>
    import LatestProducts from '../components/LatestProducts';
    import Pagination from '../components/Pagination';
    import Filters from '../components/Filters';
    import URL from 'url-parse';

    export default {
        props: {
            category: {
                type: String,
                required: false
            },
            search: {
                required: false
            }
        },
        components: {
            LatestProducts,
            Pagination,
            Filters
        },
        data() {
            return {
                endpoint: null,
                products: [],
                pagination: {},
                categories: [],
                rating: null,
                brands: [],
                query: {
                    category: null,
                    categories: [],
                    brands: [],
                    rating: null,
                    search: null,
                    page: 1
                }
            }
        },
        mounted() {
            this.endpoint = new URL('/api/products', true);

            this.load();
        },
        methods: {
            load() {
                window.axios.get(this.apiUrl())
                    .then(({data}) => {
                        const {current_page, last_page, categories, brands} = data.meta;

                        this.products = data.data;
                        this.pagination = {current_page, last_page};
                        this.categories = categories;
                        this.brands = brands;
                    })
                    .catch(err => console.log(err.response));
            },

            apiUrl() {
                this.endpoint.set('query', _.pickBy({
                    ...this.query,
                    category: this.category,
                    search: this.search
                }, _.flow([_.identity, value => {
                    if (!_.isArray(value) || value.length >= 1) {
                        return value;
                    }
                }])));

                return this.endpoint.toString();
            },

            onPageChange(page) {
                this.query.page = page;

                this.load();
            },

            onFilterChange(filters) {
                this.query = {
                    ...this.query,
                    ...filters
                };

                // console.log(this.query);

                this.load();
            }
        },
        computed: {
            hasPagination() {
                return this.pagination && this.pagination.last_page > 1;
            }
        }
    }
</script>

<style lang="scss">

</style>