<template>
	<div class="c-item">
		<div class="c-item__images">
			<ul class="c-item__thumbs">
				<li v-for="image in data.image_paths">
					<a href="#" @click.prevent="viewImage(image)">
						<img :src="image" :alt="data.title">
					</a>
				</li>
			</ul>
			<!-- /.c-item__thumbs -->

			<div class="c-item__image">
				<img ref="image" v-if="data.image_paths" class="js-zoom" :src="data.image_paths[0]" :alt="data.title">
			</div>
			<!-- /.c-item__image -->
		</div>
		<!-- /.c-item__images -->

		<div class="c-item__details">
			<div class="c-item__header">
				<h3 class="c-item__price">{{ data.price }} ₾</h3>

				<button class="o-button c-button c-button--primary c-button--filled u-text--uppercase">ყიდვა</button>
				<button class="o-button o-button--icon c-button"><i class="c-icon c-icon--cart-plus"></i></button>
			</div>
			<!-- /.c-item__header -->

			<div class="c-item__content">
				<h1 class="c-item__title" v-text="data.title"></h1>

				<div class="c-item__rating">
					<rating :rating="4"/>
					<span>15 მომხმარებლის შეფასება</span>
				</div>
				<!-- /.c-item__rating -->

				<div class="c-item__info">
					<p>მომწოდებელი <strong v-text="data.provider"></strong></p>
					<p>მწარმოებელი <strong v-text="data.manufacturer"></strong></p>
				</div>
				<!-- /.c-item__info -->

				<h2 class="c-item__subtitle">პროდუქტის აღწერა</h2>
				<p v-html="data.description"></p>
			</div>
			<!-- /.c-item__content -->
		</div>
		<!-- /.c-item__details -->
	</div>
</template>

<script>
    export default {
        props: {
            data: Object,
            required: true
        },
	    methods: {
            viewImage(image) {
				this.$refs.image.setAttribute('src', image);
            }
	    }
    }
</script>

<style lang="scss">
	@import "../../sass/tools/helpers";

	.c-item {
		display: flex;

		&__images {
			display: flex;
			flex: 0.53;
		}

		&__thumbs {
			flex-direction: column;
			list-style-type: none;
			flex: 0 1 rem(125px);
			display: flex;
			padding: 0;
			margin: 0;

			li {
				transition: opacity 300ms ease;
				border: 1px solid #e8e8e8;
				margin-bottom: rem(20px);
				background-color: #fff;
				border-radius: 2px;
				padding: 0.15em;

				&:hover {
					opacity: 0.75;
				}
			}
		}

		&__image {
			border: 1px solid #e8e8e8;
			justify-content: center;
			background-color: #fff;
			margin-left: rem(18px);
			align-items: center;
			border-radius: 2px;
			padding: 0.5em;
			flex: 1 1 auto;
			display: flex;
		}

		&__details {
			margin-left: rem(40px);
			flex: 0.47;
		}

		&__header {
			align-items: center;
			display: flex;
		}

		&__price {
			font-size: rem(26px);
			margin-right: auto;
			margin-bottom: 0;
			font-weight: 600;
			color: #fc6719;
		}

		&__content {
			margin-top: rem(30px);

			p {
				font-size: rem(13px);
				color: #797979;
				margin: 0;
			}
		}

		&__title {
			font-size: rem(21px);
			margin-bottom: 0;
			font-weight: 600;
			color: #090909;
		}

		&__rating {
			align-items: center;
			display: flex;

			span {
				margin-left: rem(10px);
				font-size: rem(13px);
				position: relative;
				color: #c6c6c6;
				top: 2px;
			}
		}

		&__info {
			line-height: rem(25px);
			font-size: rem(13px);
			margin: rem(35px) 0;
			font-weight: 600;
			color: #a9a9a9;

			strong {
				color: #5e566b;
			}
		}

		&__subtitle {
			font-family: 'BOG 2017 Headline', sans-serif;
			margin-bottom: rem(15px);
			font-size: rem(14px);
			color: #535353;
		}
	}
</style>