$white: #fff !default;
$gray-100: #f8f8f8 !default;
$gray-150: #f5f4f2 !default;
$gray-175: #eaeaea !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-550: #a0a0a0 !default;
$gray-575: #7a7485 !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #313131 !default;
$gray-850: #2d2d2d !default;
$gray-900: #212529 !default;
$black: #000 !default;

$body-bg: $white !default;
$body-color: $gray-900 !default;

$text-light: #ccc6d6 !default;

// Theme
$primary: #fc6719 !default;
$secondary: #2d2a37 !default;
$tertiary: #5e566b !default;

//
$success: #69bf4a;
$danger: #f5576e;
$outline: #80bdff;

// Gradient
$primary-start: #f9c98a !default;
$primary-end: #ffb485 !default;