.o-button {
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: rem(48px);
  vertical-align: middle;
  display: inline-block;
  padding: 0 rem(35px);
  font-size: rem(14px);
  min-width: rem(46px);
  white-space: nowrap;
  text-align: center;
  height: rem(48px);
  user-select: none;
  font-weight: 600;
  cursor: pointer;
  line-height: 1;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;

  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  & + .o-button {
    margin-left: rem(13px);
  }

  &--icon {
    font-size: 1.15em;
    padding: 0;
  }

  &--fluid {
    width: 100%;
    padding: 0;
  }

  &--small {
    border-radius: rem(4px);
    height: rem(36px);
  }

  &:not(:disabled):not(.is-disabled) {
    cursor: pointer;
  }
}

a.o-button {
  line-height: rem(46px);

  &--icon {
    line-height: rem(42px);
  }
}