.icon {
  background-image: url('../images/sprite.png');
  vertical-align: middle;
  display: inline-block;
}

.icon-arrow-left-o {
  width: 7px;
  height: 14px;
  background-position: -65px -26px;
}

.icon-arrow-left {
  width: 13px;
  height: 13px;
  background-position: -29px -42px;
}

.icon-arrow-right-o {
  width: 7px;
  height: 14px;
  background-position: -65px -12px;
}

.icon-arrow-right {
  width: 13px;
  height: 13px;
  background-position: -42px -42px;
}

.icon-back {
  width: 18px;
  height: 8px;
  background-position: -0 -57px;
}

.icon-cart-plus {
  width: 28px;
  height: 22px;
  background-position: -0 -0;
}

.icon-cart {
  width: 20px;
  height: 20px;
  background-position: -0 -22px;
}

.icon-checkbox-checked {
  width: 14px;
  height: 13px;
  background-position: -15px -42px;
}

.icon-checkbox {
  width: 12px;
  height: 12px;
  background-position: -65px -0;
}

.icon-minus {
  width: 8px;
  height: 2px;
  background-position: -65px -48px;
}

.icon-no-star {
  width: 17px;
  height: 17px;
  background-position: -48px -0;
}

.icon-plus-o {
  width: 15px;
  height: 15px;
  background-position: -0 -42px;
}

.icon-plus {
  width: 8px;
  height: 8px;
  background-position: -65px -40px;
}

.icon-search {
  width: 18px;
  height: 18px;
  background-position: -20px -22px;
}

.icon-star {
  width: 17px;
  height: 17px;
  background-position: -48px -17px;
}

.icon-trash {
  width: 20px;
  height: 22px;
  background-position: -28px -0;
}

.icon-triangle-top {
  width: 20px;
  height: 7px;
  background-position: -18px -57px;
}