.o-input {
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid $gray-150;
  border-radius: rem(48px);
  line-height: rem(46px);
  padding: 0 rem(30px);
  font-size: rem(13px);
  height: rem(48px);
  color: $gray-550;
  display: block;
  width: 100%;
  transition: border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;

  &:not(:read-only):focus {
    box-shadow: 0 0 0 rem(3px) rgba($outline, .25);
    border-color: $outline;
    outline: 0;
  }

  &:read-only {
    background-color: $gray-100;
  }

  &[multiple] {
    height: rem(120px);
  }
}